Repository evergreen-ci/ui, pull requests merged in 2024-06, with the labels that each got.

#159 DEVPROD-7518: Handle sleep schedule exemptions
  apps/spruce/src/components/Spawn/editHostModal/getFormSchema.tsx
  apps/spruce/src/components/Spawn/getFormSchema.tsx
  apps/spruce/src/components/Spawn/index.tsx
  apps/spruce/src/components/Spawn/spawnHostModal/getFormSchema.tsx
  apps/spruce/src/components/Spawn/utils/hostUptime.test.ts
  apps/spruce/src/components/Spawn/utils/hostUptime.ts
  apps/spruce/src/components/Spawn/utils/index.ts
  apps/spruce/src/pages/spawn/spawnHost/EditSpawnHostModal.tsx
  apps/spruce/src/pages/spawn/spawnHost/SpawnHostActionButton.tsx
  apps/spruce/src/pages/spawn/spawnHost/SpawnHostTableActions.test.tsx
  apps/spruce/src/pages/spawn/spawnHost/spawnHostButton/SpawnHostModal.tsx
Labels: spruce

#175 DEVPROD-5058: Apply pretty print setting after log pane has loaded
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/PrettyPrintToggle/PrettyPrintToggle.test.tsx
  apps/parsley/src/components/LogPane/LogPane.test.tsx
  apps/parsley/src/components/LogPane/index.tsx
  apps/parsley/src/context/LogContext/index.tsx
Labels: parsley

#178 DEVPROD-5859 Remove Evergreen commit queue
  apps/spruce/.gitignore
  apps/spruce/cypress/integration/projectSettings/defaulting_to_repo.ts
  apps/spruce/cypress/integration/projectSettings/repo_settings.ts
  apps/spruce/src/constants/externalResources.ts
  apps/spruce/src/gql/fragments/projectSettings/githubCommitQueue.graphql
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/projectSettings/CopyProjectModal.test.tsx
  apps/spruce/src/pages/projectSettings/tabs/EventLogTab/EventLogTab.test.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubCommitQueueTab/getFormSchema.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubCommitQueueTab/transformers.test.ts
  apps/spruce/src/pages/projectSettings/tabs/GithubCommitQueueTab/transformers.ts
  apps/spruce/src/pages/projectSettings/tabs/GithubCommitQueueTab/types.ts
  apps/spruce/src/pages/projectSettings/tabs/testData.ts
Labels: spruce

#192 DEVPROD-8096 Change button text on Preferences Profile and Notification pages
  apps/spruce/cypress/integration/container/container_events.ts
  apps/spruce/cypress/integration/host/host_events.ts
  apps/spruce/src/pages/preferences/preferencesTabs/NotificationsTab.tsx
  apps/spruce/src/pages/preferences/preferencesTabs/ProfileTab.tsx
Labels: spruce

#196 DEVPROD-8345 Remove tab active/not active events
  apps/spruce/src/analytics/activity/useActivityAnalytics.ts
  apps/spruce/src/analytics/index.ts
  apps/spruce/src/components/Header/index.tsx
  apps/spruce/src/hooks/useNetworkStatus.ts
  apps/spruce/src/hooks/usePageVisibility.ts
Labels: spruce

#195 DEVPROD-7675: Avoid exposing /login route in non-development builds
  apps/parsley/src/App.tsx
  apps/spruce/src/App.tsx
  apps/spruce/src/components/styles/Layout.tsx
  apps/spruce/src/pages/404/NotFound.stories.tsx
  apps/spruce/src/pages/404/NotFound.tsx
  apps/spruce/src/pages/404/NotFoundSvg.tsx
  apps/spruce/src/pages/404/__snapshots__/NotFound_Default404.storyshot
  apps/spruce/src/utils/environmentVariables.ts
  apps/spruce/src/utils/request.ts
Labels: spruce, parsley

#191 DEVPROD-5859 Remove commit queue language
  apps/spruce/src/pages/projectSettings/getTabTitle.ts
  apps/spruce/src/pages/projectSettings/tabs/GithubCommitQueueTab/getFormSchema.tsx
Labels: spruce

#207 DEVPROD-8368 Remove analytics objects in patches page and ui improvements
  apps/spruce/cypress/integration/myPatches/my_patches.ts
  apps/spruce/package.json
  apps/spruce/src/analytics/index.ts
  apps/spruce/src/components/PatchesPage/ListArea.tsx
  apps/spruce/src/components/PatchesPage/ListArea/ListArea.stories.tsx
  apps/spruce/src/components/PatchesPage/ListArea/PatchCard/DropdownMenu.tsx
  apps/spruce/src/components/PatchesPage/ListArea/PatchCard/PatchCard.stories.tsx
  apps/spruce/src/components/PatchesPage/ListArea/PatchCard/__snapshots__/PatchCard_ProjectPatchCard.storyshot
  apps/spruce/src/components/PatchesPage/ListArea/PatchCard/__snapshots__/PatchCard_UserPatchCard.storyshot
  apps/spruce/src/components/PatchesPage/ListArea/PatchCard/index.tsx
  apps/spruce/src/components/PatchesPage/ListArea/__snapshots__/ListArea_Default.storyshot
  apps/spruce/src/components/PatchesPage/ListArea/__snapshots__/ListArea_Empty.storyshot
  apps/spruce/src/components/PatchesPage/ListArea/index.tsx
  apps/spruce/src/components/PatchesPage/ListArea/testData.ts
  apps/spruce/src/components/PatchesPage/index.tsx
  apps/spruce/src/components/Spawn/MountVolumeSelect.tsx
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_Example1.storyshot
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_Example2.storyshot
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_Example3.storyshot
  apps/spruce/src/components/Table/TableControl/__snapshots__/TableControl_Default.storyshot
  apps/spruce/src/components/TextInputWithValidation/__snapshots__/TextInputWithValidation_Default.storyshot
  apps/spruce/src/components/TreeSelect/__snapshots__/TreeSelect_Default.storyshot
  apps/spruce/src/components/TupleSelect/__snapshots__/TupleSelect_Default.storyshot
  apps/spruce/src/components/TupleSelectWithRegexConditional/__snapshots__/TupleSelectWithRegexConditional_WithConditional.storyshot
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/user-patches.graphql
  apps/spruce/src/hooks/useGetUserPatchesPageTitleAndLink.ts
  apps/spruce/src/hooks/usePolling.ts
  apps/spruce/src/hooks/useTaskStatuses.ts
  apps/spruce/src/pages/ProjectPatches.tsx
  apps/spruce/src/pages/Task.tsx
  apps/spruce/src/pages/UserPatches.tsx
  apps/spruce/src/pages/commits/__snapshots__/ProjectHealth_Default.storyshot
  apps/spruce/src/pages/commits/index.tsx
  apps/spruce/src/pages/configurePatch/configurePatchCore/__snapshots__/ConfigurePatchCore_ConfigureTasksDefault.storyshot
  apps/spruce/src/pages/spawn/SpawnHost.tsx
  apps/spruce/src/pages/spawn/SpawnVolume.tsx
  apps/spruce/src/pages/spawn/spawnHost/SpawnHostActionButton.tsx
  apps/spruce/src/pages/task/taskTabs/TestsTable.tsx
  apps/spruce/src/pages/task/taskTabs/logs/LogTypes.tsx
  apps/spruce/src/pages/version/BuildVariantCard/index.tsx
  apps/spruce/src/pages/version/TaskDuration.tsx
  apps/spruce/src/pages/version/Tasks.tsx
  apps/spruce/src/pages/version/downstreamTasks/DownstreamProjectAccordion.tsx
  yarn.lock
Labels: spruce

#209 DEVPROD-7838: Fix 422 error in CreateDuplicateProjectButton
  apps/spruce/src/pages/projectSettings/CreateDuplicateProjectButton.tsx
Labels: spruce

#197 DEVPROD-8364: Extract command section metadata and manage open/close state
  apps/parsley/src/components/LogRow/BaseRow/SharingMenu/utils.test.ts
  apps/parsley/src/components/LogRow/RowRenderer/index.tsx
  apps/parsley/src/components/LogRow/SectionHeader/SectionHeader.stories.tsx
  apps/parsley/src/components/LogRow/SectionHeader/SectionHeader.test.tsx
  apps/parsley/src/components/LogRow/SectionHeader/index.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/SubsectionHeader.stories.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/SubsectionHeader.test.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/index.tsx
  apps/parsley/src/hooks/useSections/index.ts
  apps/parsley/src/hooks/useSections/useSections.test.tsx
  apps/parsley/src/hooks/useSections/utils.test.ts
  apps/parsley/src/hooks/useSections/utils.ts
  apps/parsley/src/types/logs.ts
  apps/parsley/src/utils/filterLogs/filterLogs.test.ts
  apps/parsley/src/utils/filterLogs/index.ts
  apps/parsley/src/utils/findLineIndex/findLineIndex.test.ts
  apps/parsley/src/utils/searchLogs/searchLogs.test.ts
Labels: parsley

#174 DEVPROD-7517: Add beta toggle for host uptime scheduling
  apps/spruce/src/components/Spawn/editHostModal/transformer.test.ts
  apps/spruce/src/components/Spawn/getFormSchema.tsx
  apps/spruce/src/components/Spawn/spawnHostModal/transformer.test.ts
  apps/spruce/src/components/Spawn/utils/hostUptime.test.ts
  apps/spruce/src/components/Spawn/utils/hostUptime.ts
  apps/spruce/src/components/SpruceForm/Widgets/LeafyGreenWidgets.tsx
  apps/spruce/src/components/SpruceForm/Widgets/index.tsx
  apps/spruce/src/components/SpruceForm/Widgets/types.ts
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_Example1.storyshot
  apps/spruce/src/constants/externalResources.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/my-hosts.graphql
  apps/spruce/src/pages/spawn/spawnHost/EditSpawnHostModal.test.tsx
  apps/spruce/src/pages/spawn/spawnHost/SpawnHostActionButton.tsx
  apps/spruce/src/pages/spawn/spawnHost/SpawnHostTableActions.test.tsx
Labels: spruce

#212 DEVPROD-4046: Trim lines split between chunks
  apps/parsley/src/utils/streams/index.ts
  apps/parsley/src/utils/streams/streams.test.ts
Labels: parsley

#213 DEVPROD-4095: Remove links to legacy job logs page
  apps/parsley/cypress/integration/external_links.ts
  apps/parsley/src/analytics/preferences/usePreferencesAnalytics.ts
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/ButtonRow/index.tsx
  apps/parsley/src/constants/externalURLTemplates.ts
  apps/parsley/src/context/LogContext/types.ts
  apps/parsley/src/pages/LogView/LoadingPage/index.tsx
  apps/parsley/src/pages/LogView/LoadingPage/useResolveLogURLAndRenderingType.test.tsx
  apps/parsley/src/pages/LogView/LoadingPage/useResolveLogURLAndRenderingType.ts
Labels: parsley
