Repository evergreen-ci/ui, pull requests merged in 2024-05, with the labels that each got.

#84 DEVPROD-2938: Upgrade @typescript-eslint/parser and @typescript-eslint/eslint-plugin to v7.8.0
  apps/parsley/package.json
  apps/spruce/package.json
  packages/eslint-config-evg/package.json
  yarn.lock
Labels: dependencies

#86 DEVPROD-4779 Show GitHub username banner on all pages
  apps/spruce/src/components/Banners/GithubUsernameBanner.tsx
Labels: spruce

#90 DEVPROD-5830: Remove incorrect page title
  apps/spruce/src/pages/projectSettings/tabs/NotificationsTab/getFormSchema.tsx
  yarn.lock
Labels: spruce

#92 DEVPROD-3292: Remove Sentry Replay
  apps/spruce/src/components/ErrorHandling/Sentry.tsx
  apps/spruce/src/components/ErrorHandling/initialize.test.ts
Labels: spruce

#91 DEVPROD-6980: Edit partial download error
  apps/parsley/src/constants/errors.ts
Labels: parsley

#88 DEVPROD-4265: Remove error toasts for relevant commits
  apps/spruce/src/hooks/useBreakingTask/index.ts
  apps/spruce/src/hooks/useBreakingTask/useBreakingTask.test.tsx
  apps/spruce/src/hooks/useLastExecutedTask/index.ts
  apps/spruce/src/hooks/useLastExecutedTask/useLastExecutedTask.test.tsx
  apps/spruce/src/hooks/useLastPassingTask/index.ts
  apps/spruce/src/hooks/useLastPassingTask/useLastPassingTask.test.tsx
Labels: spruce

#89 DEVPROD-795 Fix search input validation on PatchesPage
  apps/spruce/cypress/integration/myPatches/my_patches.ts
  apps/spruce/src/components/PatchesPage/index.tsx
Labels: spruce

#94 DEVPROD-6782: Update container events table
  apps/spruce/cypress/integration/container/container_events.ts
  apps/spruce/src/pages/container/EventsTable/EventCopy.tsx
  apps/spruce/src/pages/container/EventsTable/index.tsx
Labels: spruce

#99 DEVPROD-4664: clarify restricted project description
  apps/spruce/src/pages/projectSettings/tabs/AccessTab/getFormSchema.ts
Labels: spruce

#100 DEVPROD-4757 Add additional confirmation to default to repo button
  apps/spruce/cypress/integration/projectSettings/access.ts
  apps/spruce/cypress/integration/projectSettings/defaulting_to_repo.ts
  apps/spruce/cypress/integration/projectSettings/repo_settings.ts
  apps/spruce/src/constants/externalResources.ts
  apps/spruce/src/pages/projectSettings/DefaultSectionToRepoModal.tsx
  apps/spruce/src/pages/projectSettings/HeaderButtons.tsx
Labels: spruce

#98 DEVPROD-4665 Disable performance plugin selection at repo level
  apps/spruce/src/pages/projectSettings/tabs/PluginsTab/PluginsTab.tsx
  apps/spruce/src/pages/projectSettings/tabs/PluginsTab/getFormSchema.tsx
Labels: spruce

#101 DEVPROD-4268: Add link to GitHub merge queue in patch metadata
  apps/parsley/cypress/integration/ansiLogs/ansi_logView.ts
  apps/spruce/src/constants/externalResources.ts
  apps/spruce/src/constants/patch.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/version.graphql
  apps/spruce/src/pages/version/Metadata.tsx
Labels: spruce

#104 DEVPROD-4724 Add link to task queue page from distro settings
  apps/spruce/cypress/integration/distroSettings/navigation.ts
  apps/spruce/src/components/styles/SideNav.tsx
  apps/spruce/src/pages/distroSettings/index.tsx
Labels: spruce

#103 DEVPROD-3606 Add a scrollable container to version restart modal
  apps/spruce/src/components/VersionRestartModal/VersionRestartModal.tsx
  apps/spruce/src/components/VersionRestartModal/VersionTasks.tsx
Labels: spruce

#76 DEVPROD-573 Hookify table page and limit functions
  apps/spruce/src/components/PageSizeSelector/index.tsx
  apps/spruce/src/components/PageSizeSelector/usePageSizeSelector.ts
  apps/spruce/src/components/Pagination/Pagination.stories.tsx
  apps/spruce/src/components/Pagination/__snapshots__/Pagination.stories.storyshot
  apps/spruce/src/components/Pagination/index.tsx
  apps/spruce/src/components/PatchesPage/index.tsx
  apps/spruce/src/components/PatchesPage/usePatchesQueryParams.ts
  apps/spruce/src/components/Table/TableControl/index.tsx
  apps/spruce/src/components/Table/utils.ts
  apps/spruce/src/constants/queryParams.ts
  apps/spruce/src/hooks/usePagination/index.ts
  apps/spruce/src/hooks/usePagination/usePagination.test.tsx
  apps/spruce/src/hooks/useTableSort.ts
  apps/spruce/src/pages/container/EventsTable/index.tsx
  apps/spruce/src/pages/host/HostTable.tsx
  apps/spruce/src/pages/host/index.tsx
  apps/spruce/src/pages/hosts/constants.ts
  apps/spruce/src/pages/hosts/index.tsx
  apps/spruce/src/pages/hosts/utils.ts
  apps/spruce/src/pages/task/taskTabs/ExecutionTasksTable.tsx
  apps/spruce/src/pages/task/taskTabs/TestsTable.tsx
  apps/spruce/src/pages/version/TaskDuration.tsx
  apps/spruce/src/pages/version/Tasks.tsx
  apps/spruce/src/pages/version/tasks/PatchTasksTable.tsx
  apps/spruce/src/pages/version/useQueryVariables/index.ts
  apps/spruce/src/pages/version/useQueryVariables/useQueryVariables.test.tsx
  apps/spruce/src/types/task.ts
  apps/spruce/src/utils/url/index.ts
  apps/spruce/src/utils/url/url.test.ts
Labels: spruce

#106 DEVPROD-7025: Update event diff table
  apps/spruce/src/components/Settings/EventLog/EventDiffTable.tsx
  apps/spruce/src/components/Table/BaseTable.tsx
  apps/spruce/src/components/Table/__snapshots__/BaseTable.stories.storyshot
  apps/spruce/src/pages/task/taskTabs/FileTable/GroupedFileTable/__snapshots__/GroupedFileTable.stories.storyshot
  apps/spruce/src/pages/task/taskTabs/__snapshots__/ExecutionTasksTable.stories.storyshot
  apps/spruce/src/pages/taskQueue/TaskQueueTable/__snapshots__/TaskQueueTable.stories.storyshot
  apps/spruce/src/pages/version/taskDuration/__snapshots__/TaskDurationTable.stories.storyshot
Labels: spruce

#113 DEVPROD-3188: Attach additional data to ui.click breadcrumbs in Sentry
  apps/parsley/src/components/BookmarksBar/__snapshots__/BookmarksBar.stories.storyshot
  apps/parsley/src/components/BookmarksBar/index.tsx
  apps/parsley/src/components/ErrorHandling/Sentry.tsx
  apps/parsley/src/components/ErrorHandling/initialize.test.ts
  apps/parsley/src/components/ErrorHandling/utils.test.ts
  apps/parsley/src/components/ErrorHandling/utils.ts
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/src/components/ErrorHandling/Sentry.tsx
  apps/spruce/src/components/ErrorHandling/initialize.test.ts
  apps/spruce/src/components/ErrorHandling/utils.test.ts
  apps/spruce/src/components/ErrorHandling/utils.ts
  apps/spruce/src/gql/generated/types.ts
Labels: spruce, parsley

#107 DEVPROD-1902 Don't fetch upstream project for inactive versions
  apps/spruce/src/components/HistoryTable/HistoryTableRow/BaseRow/FoldedCommit/index.tsx
  apps/spruce/src/components/HistoryTable/HistoryTableRow/BaseRow/index.tsx
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/mainline-commits-for-history.graphql
  apps/spruce/src/gql/queries/mainline-commits.graphql
  apps/spruce/src/pages/commits/InactiveCommits/InactiveCommits.stories.tsx
  apps/spruce/src/pages/commits/InactiveCommits/index.tsx
  apps/spruce/src/pages/taskHistory/TaskHistoryRow/index.tsx
Labels: spruce

#114 DEVPROD-5289: Add user preference toggle for sections
  apps/parsley/cypress/integration/ansiLogs/ansi_logView.ts
  apps/parsley/src/analytics/preferences/usePreferencesAnalytics.ts
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/SectionsToggle/SectionsToggle.test.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/SectionsToggle/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/index.tsx
  apps/parsley/src/gql/generated/types.ts
  apps/parsley/src/gql/mutations/update-parsley-settings.graphql
  apps/parsley/src/gql/queries/parsley-settings.graphql
  apps/parsley/src/hooks/useParsleySettings/index.ts
  apps/parsley/src/test_data/parsleySettings.ts
  apps/spruce/src/gql/generated/types.ts
Labels: parsley

#85 DEVPROD-6883: Create input for image on distro settings page
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/distro.graphql
  apps/spruce/src/pages/distroSettings/tabs/GeneralTab/getFormSchema.ts
  apps/spruce/src/pages/distroSettings/tabs/GeneralTab/transformers.test.ts
  apps/spruce/src/pages/distroSettings/tabs/GeneralTab/transformers.ts
  apps/spruce/src/pages/distroSettings/tabs/GeneralTab/types.ts
  apps/spruce/src/pages/distroSettings/tabs/testData.ts
Labels: spruce

#117 DEVPROD-4712: Upgrade Sentry to v7.114.0
  apps/parsley/package.json
  apps/parsley/src/components/ErrorHandling/Sentry.tsx
  apps/parsley/src/components/ErrorHandling/initialize.test.ts
  apps/spruce/package.json
  apps/spruce/src/components/ErrorHandling/Sentry.tsx
  apps/spruce/src/components/ErrorHandling/initialize.test.ts
  yarn.lock
Labels: dependencies

#116 DEVPROD-5904: Mock clipboard usage in Cypress
  apps/parsley/cypress/integration/ansiLogs/ansi_logView.ts
  apps/parsley/cypress/integration/resmokeLogs/resmoke_evg_test_logView.ts
  apps/parsley/cypress/integration/resmokeLogs/resmoke_logView.ts
  apps/parsley/cypress/support/commands.ts
  apps/parsley/cypress/support/index.ts
  apps/parsley/cypress/tsconfig.json
  apps/parsley/package.json
  yarn.lock
Labels: parsley

#121 DEVPROD-3578: Upgrade Vite to v5
  apps/parsley/package.json
  apps/spruce/package.json
  apps/spruce/scripts/deploy/utils/git/git.test.ts
  yarn.lock
Labels: dependencies

#129 DEVPROD-6540 Update ui queries to use updated project identifier fields
  apps/spruce/src/components/ProjectSelect/FavoriteStar.tsx
  apps/spruce/src/components/ProjectSelect/ProjectOptionGroup.tsx
  apps/spruce/src/components/ProjectSelect/testData.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/mutations/add-favorite-project.graphql
  apps/spruce/src/gql/mutations/deactivate-stepback-task.graphql
  apps/spruce/src/gql/mutations/default-section-to-repo.graphql
  apps/spruce/src/gql/mutations/promote-vars-to-repo.graphql
  apps/spruce/src/gql/mutations/remove-favorite-project.graphql
  apps/spruce/src/gql/queries/project-event-logs.graphql
  apps/spruce/src/gql/queries/project-settings.graphql
  apps/spruce/src/gql/queries/undispatched-tasks.graphql
  apps/spruce/src/pages/projectSettings/CopyProjectModal.test.tsx
  apps/spruce/src/pages/projectSettings/index.tsx
  apps/spruce/src/pages/projectSettings/tabs/EventLogTab/EventLogTab.test.tsx
  apps/spruce/src/pages/projectSettings/tabs/EventLogTab/EventLogTab.tsx
  apps/spruce/src/pages/projectSettings/tabs/EventLogTab/useProjectSettingsEvents.ts
Labels: spruce

#48 DEVPROD-830 Add option to Apply highlights for filtered terms
  apps/parsley/cypress/integration/ansiLogs/ansi_highlighting.ts
  apps/parsley/cypress/integration/resmokeLogs/resmoke_highlighting.ts
  apps/parsley/src/analytics/preferences/usePreferencesAnalytics.ts
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/HighlightFiltersToggle/HighlightFiltersToggle.test.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/HighlightFiltersToggle/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/__snapshots__/DetailsMenu_Default.storyshot
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/__snapshots__/DetailsMenu_WithDownloadedLog.storyshot
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/index.tsx
  apps/parsley/src/components/Search/SearchBar/__snapshots__/SearchBar_Default.storyshot
  apps/parsley/src/components/Search/SearchBar/__snapshots__/SearchBar_WithSearchSuggestions.storyshot
  apps/parsley/src/components/Search/index.tsx
  apps/parsley/src/components/SidePanel/NavGroup/FilterNavGroup/FilterGroup/__snapshots__/FilterGroup_Default.storyshot
  apps/parsley/src/components/SidePanel/__snapshots__/SidePanel_Default.storyshot
  apps/parsley/src/constants/cookies.ts
  apps/parsley/src/context/LogContext/index.tsx
  apps/parsley/src/context/LogContext/types.ts
Labels: parsley

#133 DEVPROD-4198: Add prompt when pausing sleep-scheduled host
  README.md
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/cypress/integration/projectSettings/access.ts
  apps/spruce/src/components/DayPicker/index.tsx
  apps/spruce/src/components/Spawn/editHostModal/getFormSchema.tsx
  apps/spruce/src/components/Spawn/getFormSchema.tsx
  apps/spruce/src/components/Spawn/index.tsx
  apps/spruce/src/components/Spawn/spawnHostModal/getFormSchema.tsx
  apps/spruce/src/components/Spawn/utils/hostUptime.test.ts
  apps/spruce/src/components/Spawn/utils/hostUptime.ts
  apps/spruce/src/components/Spawn/utils/index.ts
  apps/spruce/src/components/SpruceForm/FieldTemplates/index.tsx
  apps/spruce/src/constants/fieldMaps.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/mocks/getSpruceConfig.ts
  apps/spruce/src/gql/mutations/update-spawn-host-status.graphql
  apps/spruce/src/pages/spawn/spawnHost/EditSpawnHostButton.tsx
  apps/spruce/src/pages/spawn/spawnHost/EditSpawnHostModal.tsx
  apps/spruce/src/pages/spawn/spawnHost/PauseSleepScheduleModal.tsx
  apps/spruce/src/pages/spawn/spawnHost/SpawnHostActionButton.tsx
  apps/spruce/src/pages/spawn/spawnHost/SpawnHostTableActions.test.tsx
  apps/spruce/src/pages/spawn/spawnHost/spawnHostButton/SpawnHostModal.tsx
  apps/spruce/src/types/utils.ts
Labels: spruce

#115 DEVPROD-5291: Create SectionHeader component
  apps/parsley/src/analytics/logWindow/useLogWindowAnalytics.ts
  apps/parsley/src/components/LogRow/AnsiRow/index.tsx
  apps/parsley/src/components/LogRow/BaseRow/index.tsx
  apps/parsley/src/components/LogRow/ResmokeRow/index.tsx
  apps/parsley/src/components/LogRow/SectionHeader/SectionHeader.stories.tsx
  apps/parsley/src/components/LogRow/SectionHeader/SectionHeader.test.tsx
  apps/parsley/src/components/LogRow/SectionHeader/__snapshots__/SectionHeader_SectionHeaderSingle.storyshot
  apps/parsley/src/components/LogRow/SectionHeader/index.tsx
  apps/parsley/src/components/LogRow/SkippedLinesRow/SkippedLinesRow.test.tsx
  apps/parsley/src/components/LogRow/SkippedLinesRow/index.tsx
  apps/parsley/src/components/LogRow/types.ts
  apps/parsley/src/constants/logs.ts
  apps/parsley/src/constants/tokens.ts
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/src/gql/generated/types.ts
Labels: parsley
