Repository evergreen-ci/ui, pull requests merged in 2024-07, with the labels that each got.

#211 DEVPROD-8159: Prevent Version Metadata Panel from accessing undefined
  apps/spruce/src/gql/client/cache.ts
Labels: spruce

#210 DEVPROD-5141: Merge deploy scripts
  .evergreen/deploy.yml
  .evergreen/evergreen.yml
  .evergreen/scripts/deploy-target.js
  .evergreen/scripts/setup-credentials.js
  apps/parsley/package.json
  apps/spruce/lint-staged.config.js
  apps/spruce/package.json
  apps/spruce/tsconfig.json
  packages/deploy-utils/package.json
  packages/deploy-utils/src/build-and-push/build-and-push.test.ts
  packages/deploy-utils/src/build-and-push/index.ts
  packages/deploy-utils/src/build-and-push/script.ts
  packages/deploy-utils/src/deploy-remote/index.ts
  packages/deploy-utils/src/deploy.ts
  packages/deploy-utils/src/index.ts
  packages/deploy-utils/src/postversion/index.ts
  packages/deploy-utils/src/postversion/script.ts
  packages/deploy-utils/src/prepare-prod-deploy/index.ts
  packages/deploy-utils/src/prepare-prod-deploy/prepare-prod-deploy.test.ts
  packages/deploy-utils/src/setup-credentials/index.ts
  packages/deploy-utils/src/setup-credentials/script.ts
  packages/deploy-utils/src/utils/environment.ts
  packages/deploy-utils/src/utils/git/get-current-deployed-commit.ts
  packages/deploy-utils/src/utils/git/git.test.ts
  packages/deploy-utils/src/utils/git/index.ts
  packages/deploy-utils/src/utils/git/tag.test.ts
  packages/deploy-utils/src/utils/git/tag.ts
  packages/deploy-utils/src/utils/shell.ts
  packages/deploy-utils/src/utils/types.ts
  packages/deploy-utils/src/utils/utils.test.ts
  packages/deploy-utils/src/write-current-commit/script.ts
  yarn.lock
Labels: spruce, parsley

#216 DEVPROD-7652: Create new route for image pages
  .gitignore
  apps/spruce/src/components/Content/index.tsx
  apps/spruce/src/constants/routes.ts
  apps/spruce/src/pages/Image.tsx
  apps/spruce/src/pages/image/index.tsx
Labels: spruce

#226 DEVPROD-6860: Update Task Metadata Panel partial error state
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/task/metadata/index.tsx
Labels: spruce

#215 DEVPROD-8220: Render Command Sections
  apps/parsley/src/components/LogRow/RowRenderer/index.tsx
  apps/parsley/src/utils/filterLogs/filterLogs.test.ts
  apps/parsley/src/utils/filterLogs/index.ts
Labels: parsley

#236 DEVPROD-8372 Update Parsley analytics event names to use consistent casing
  apps/parsley/src/analytics/loadingPage/useLogDownloadAnalytics.ts
  apps/parsley/src/analytics/logDrop/useLogDropAnalytics.ts
  apps/parsley/src/analytics/logWindow/useLogWindowAnalytics.ts
  apps/parsley/src/analytics/preferences/usePreferencesAnalytics.ts
  apps/parsley/src/analytics/shortcuts/useShortcutAnalytics.ts
  apps/parsley/src/components/BookmarksBar/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/ButtonRow/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/CaseSensitiveToggle/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/ExpandableRowsToggle/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/FilterLogicToggle/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/HighlightFiltersToggle/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/JumpToFailingLineToggle/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/PrettyPrintToggle/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/SectionsToggle/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/WordWrapFormatToggle/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/WrapToggle/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/ZebraStripingToggle/index.tsx
  apps/parsley/src/components/LogRow/BaseRow/SharingMenu/index.tsx
  apps/parsley/src/components/LogRow/BaseRow/index.tsx
  apps/parsley/src/components/LogRow/SectionHeader/index.tsx
  apps/parsley/src/components/LogRow/SkippedLinesRow/index.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/index.tsx
  apps/parsley/src/components/NavBar/UploadLink/index.tsx
  apps/parsley/src/components/ProjectFiltersModal/index.tsx
  apps/parsley/src/components/Search/SearchBar/index.tsx
  apps/parsley/src/components/Search/index.tsx
  apps/parsley/src/components/SidePanel/NavGroup/ExpandedNavGroup/index.tsx
  apps/parsley/src/components/SidePanel/NavGroup/FilterNavGroup/FilterGroup/index.tsx
  apps/parsley/src/components/SidePanel/NavGroup/FilterNavGroup/index.tsx
  apps/parsley/src/components/SidePanel/NavGroup/HighlightNavGroup/index.tsx
  apps/parsley/src/components/SubHeader/EvergreenTaskSubHeader.tsx
  apps/parsley/src/hooks/useKeyboardShortcut/index.ts
  apps/parsley/src/hooks/useLogDownloader/index.ts
  apps/parsley/src/pages/LogDrop/FileDropper.tsx
Labels: parsley

#231 DEVPROD-5295: Display function status on Section Header
  apps/parsley/src/components/LogRow/RowRenderer/index.tsx
  apps/parsley/src/utils/logRow/index.ts
  apps/parsley/src/utils/logRow/logRow.test.ts
Labels: parsley

#234 DEVPROD-8683: Parse and display step for command section
  apps/parsley/src/components/LogRow/BaseRow/SharingMenu/utils.test.ts
  apps/parsley/src/components/LogRow/RowRenderer/index.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/SubsectionHeader.stories.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/SubsectionHeader.test.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/__snapshots__/SubsectionHeader_SubsectionHeaderSingle.storyshot
  apps/parsley/src/components/LogRow/SubsectionHeader/index.tsx
  apps/parsley/src/hooks/useSections/useSections.test.tsx
  apps/parsley/src/hooks/useSections/utils.test.ts
  apps/parsley/src/hooks/useSections/utils.ts
  apps/parsley/src/types/logs.ts
  apps/parsley/src/utils/filterLogs/filterLogs.test.ts
  apps/parsley/src/utils/findLineIndex/findLineIndex.test.ts
Labels: parsley

#239 DEVPROD-5295: Fix type error
  apps/parsley/src/utils/logRow/logRow.test.ts
Labels: parsley

#241 DEVPROD-7910: Fix unresponsive notifications page bug
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/preferences/preferencesTabs/notificationTab/UserSubscriptions.tsx
Labels: spruce

#244 DEVPROD-8867: Remove unused dependencies
  apps/spruce/package.json
  yarn.lock
Labels: spruce

#237 DEVPROD-8256: Implement GitHub Permission Groups tab
  apps/spruce/cypress/integration/projectSettings/constants.ts
  apps/spruce/cypress/integration/projectSettings/github_permission_groups.ts
  apps/spruce/src/components/Notifications/utils.ts
  apps/spruce/src/components/SpruceForm/FieldTemplates/ArrayFieldTemplates/index.tsx
  apps/spruce/src/components/Table/BaseTable.tsx
  apps/spruce/src/constants/externalResources.ts
  apps/spruce/src/constants/tokens.ts
  apps/spruce/src/gql/fragments/projectSettings/index.graphql
  apps/spruce/src/gql/fragments/projectSettings/permissionGroups.graphql
  apps/spruce/src/gql/fragments/projectSettings/projectEventSettings.graphql
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/projectSettings/CopyProjectModal.test.tsx
  apps/spruce/src/pages/projectSettings/Tabs.tsx
  apps/spruce/src/pages/projectSettings/tabs/EventLogTab/EventLogTab.test.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubPermissionGroupsTab/FieldTemplates.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubPermissionGroupsTab/PermissionGroupsTab.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubPermissionGroupsTab/getFormSchema.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubPermissionGroupsTab/transformers.test.ts
  apps/spruce/src/pages/projectSettings/tabs/GithubPermissionGroupsTab/transformers.ts
  apps/spruce/src/pages/projectSettings/tabs/GithubPermissionGroupsTab/types.ts
  apps/spruce/src/pages/projectSettings/tabs/VariablesTab/VariablesTab.tsx
  apps/spruce/src/pages/projectSettings/tabs/ViewsAndFiltersTab/ViewsAndFiltersTab.tsx
  apps/spruce/src/pages/projectSettings/tabs/testData.ts
  apps/spruce/src/pages/projectSettings/tabs/utils/errors.ts
  apps/spruce/src/types/triggers.ts
  apps/spruce/src/types/utils.ts
Labels: spruce

#260 DEVPROD-7846: Fix 422 errors on Project Health page
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/src/components/Banners/RepotrackerBanner.tsx
  apps/spruce/src/components/PatchesPage/ListArea/testData.ts
  apps/spruce/src/components/TupleSelect/__snapshots__/TupleSelect_Default.storyshot
  apps/spruce/src/components/TupleSelect/index.tsx
  apps/spruce/src/components/TupleSelectWithRegexConditional/__snapshots__/TupleSelectWithRegexConditional_WithConditional.storyshot
  apps/spruce/src/gql/client/cache.ts
  apps/spruce/src/gql/fragments/patchesPage.graphql
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/commits/ViewToggle.tsx
Labels: spruce

#254 DEVPROD-6861: Show error toast when fetching Task.taskLogs
  apps/spruce/src/pages/task/taskTabs/logs/LogTypes.tsx
Labels: spruce

#246 DEVPROD-5296: Support jumping to shared or failing line with sectioning enabled
  apps/parsley/src/components/LogPane/LogPane.test.tsx
  apps/parsley/src/components/LogPane/index.tsx
  apps/parsley/src/context/LogContext/index.tsx
  apps/parsley/src/hooks/useSections/index.ts
  apps/parsley/src/hooks/useSections/useSections.test.tsx
  apps/parsley/src/utils/logRow/index.ts
Labels: parsley

#259 DEVPROD-8885 Update parsley analytic event names to reflect new format and catalog them
  apps/parsley/src/analytics/addPageAction.ts
  apps/parsley/src/analytics/loadingPage/useLogDownloadAnalytics.ts
  apps/parsley/src/analytics/logDrop/useLogDropAnalytics.ts
  apps/parsley/src/analytics/logWindow/useLogWindowAnalytics.ts
  apps/parsley/src/analytics/preferences/usePreferencesAnalytics.ts
  apps/parsley/src/components/BookmarksBar/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/ButtonRow/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/CaseSensitiveToggle/index.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/WrapToggle/index.tsx
  apps/parsley/src/components/LogRow/BaseRow/SharingMenu/index.tsx
  apps/parsley/src/components/LogRow/BaseRow/index.tsx
  apps/parsley/src/components/LogRow/SkippedLinesRow/index.tsx
  apps/parsley/src/components/NavBar/UploadLink/index.tsx
  apps/parsley/src/components/ProjectFiltersModal/index.tsx
  apps/parsley/src/components/Search/SearchBar/index.tsx
  apps/parsley/src/components/Search/index.tsx
  apps/parsley/src/components/SidePanel/NavGroup/ExpandedNavGroup/index.tsx
  apps/parsley/src/components/SidePanel/NavGroup/FilterNavGroup/FilterGroup/index.tsx
  apps/parsley/src/components/SidePanel/NavGroup/FilterNavGroup/index.tsx
  apps/parsley/src/components/SidePanel/NavGroup/HighlightNavGroup/index.tsx
  apps/parsley/src/components/SubHeader/EvergreenTaskSubHeader.tsx
  apps/parsley/src/gql/generated/types.ts
  apps/parsley/src/hooks/useLogDownloader/index.ts
  apps/parsley/src/pages/LogDrop/FileDropper.tsx
Labels: parsley

#258 DEVPROD-5994: Implement Token Permission Restrictions section on GitHub App Settings tab
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/cypress/integration/projectSettings/constants.ts
  apps/spruce/cypress/integration/projectSettings/github_app_settings.ts
  apps/spruce/src/components/PatchesPage/RequesterSelector.tsx
  apps/spruce/src/components/SpruceForm/FieldTemplates/ObjectFieldTemplates/index.tsx
  apps/spruce/src/components/SpruceForm/Widgets/LeafyGreenWidgets.tsx
  apps/spruce/src/constants/externalResources.ts
  apps/spruce/src/constants/patch.ts
  apps/spruce/src/constants/requesters.ts
  apps/spruce/src/gql/fragments/projectSettings/appSettings.graphql
  apps/spruce/src/gql/fragments/projectSettings/index.graphql
  apps/spruce/src/gql/fragments/projectSettings/projectEventSettings.graphql
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/projectSettings/Tabs.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/AppSettingsTab.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/FieldTemplates.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/getFormSchema.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/transformers.test.ts
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/transformers.ts
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/types.ts
  apps/spruce/src/pages/projectSettings/tabs/GithubPermissionGroupsTab/FieldTemplates.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubPermissionGroupsTab/getFormSchema.tsx
  apps/spruce/src/pages/projectSettings/tabs/testData.ts
  apps/spruce/src/pages/task/ActionButtons.tsx
  apps/spruce/src/pages/version/Metadata.tsx
Labels: spruce

#279 DEVPROD-9361: Upgrade checkbox
  apps/parsley/package.json
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/package.json
  apps/spruce/src/gql/generated/types.ts
  yarn.lock
Labels: spruce, parsley, dependencies

#266 DEVPROD-8550: Fix overnight sleep schedule calculation
  apps/spruce/src/components/Spawn/utils/hostUptime.test.ts
  apps/spruce/src/components/Spawn/utils/hostUptime.ts
Labels: spruce

#272 DEVPROD-8254: Add app credentials section on GitHub App Settings tab
  apps/spruce/cypress/integration/projectSettings/github_app_settings.ts
  apps/spruce/src/components/SpruceForm/FieldTemplates/ObjectFieldTemplates/index.tsx
  apps/spruce/src/constants/externalResources.ts
  apps/spruce/src/gql/fragments/projectSettings/appSettings.graphql
  apps/spruce/src/gql/fragments/projectSettings/index.graphql
  apps/spruce/src/gql/fragments/projectSettings/projectEventSettings.graphql
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/AppSettingsTab.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/FieldTemplates.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/getFormSchema.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/transformers.test.ts
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/transformers.ts
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/types.ts
  apps/spruce/src/pages/projectSettings/tabs/testData.ts
Labels: spruce

#282 DEVPROD-799 Update readme with instructions on how to generate data for a feature
  apps/spruce/README.md
Labels: spruce
