Repository evergreen-ci/ui, pull requests merged in 2024-09, with the labels that each got.

#352 DEVPROD-5906 Consolidate useConfigurePatch into single folder
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/hooks/useConfigurePatch/index.ts
  apps/spruce/src/pages/configurePatch/configurePatchCore/ConfigureTasks/utils.ts
  apps/spruce/src/pages/configurePatch/configurePatchCore/index.tsx
  apps/spruce/src/pages/configurePatch/configurePatchCore/useConfigurePatch/index.ts
  apps/spruce/src/pages/configurePatch/configurePatchCore/useConfigurePatch/useConfigurePatch.test.tsx
Labels: spruce

#362 DEVPROD-9478 Update host expiration test to select the first of the next month
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/cypress/integration/spawn/host.ts
  apps/spruce/src/gql/generated/types.ts
Labels: spruce

#371 DEVPROD-9665: Release sectioning beta
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/index.tsx
  apps/parsley/src/context/SectionsFeatureDiscoveryContext/JumpToFailingLineToggleGuideCue.tsx
  apps/parsley/src/context/SectionsFeatureDiscoveryContext/SectionsFeatureModal/index.tsx
  apps/parsley/src/context/SectionsFeatureDiscoveryContext/SectionsToggleGuideCue.tsx
  apps/parsley/src/hooks/useSections/index.ts
  apps/parsley/src/utils/featureFlag/index.ts
Labels: parsley

#316 DEVPROD-8369 Remove Newrelic and setup Honeycomb SDK to start sending traces to Honeycomb
  .evergreen/deploy.yml
  apps/parsley/index.html
  apps/parsley/package.json
  apps/parsley/src/analytics/useAnalyticAttributes.ts
  apps/parsley/src/main.tsx
  apps/parsley/src/vite-env.d.ts
  apps/parsley/tsconfig.json
  apps/parsley/vite.config.ts
  apps/spruce/index.html
  apps/spruce/package.json
  apps/spruce/src/analytics/useAnalyticsAttributes.ts
  apps/spruce/src/index.tsx
  apps/spruce/src/pages/version/TestAnalysis/index.tsx
  apps/spruce/src/vite-env.d.ts
  apps/spruce/tsconfig.json
  apps/spruce/vite.config.ts
  packages/deploy-utils/src/setup-credentials/index.ts
  packages/lib/package.json
  packages/lib/src/analytics/hooks.ts
  packages/lib/src/analytics/types.ts
  packages/lib/src/analytics/utils.test.ts
  packages/lib/src/analytics/utils.ts
  packages/lib/src/utils/observability/AttributeStore/index.ts
  packages/lib/src/utils/observability/AttributeStore/openTelemetryAttributeStore.ts
  packages/lib/src/utils/observability/AttributeStore/types.ts
  packages/lib/src/utils/observability/AttributeStore/utils.ts
  packages/lib/src/utils/observability/honeycomb.ts
  packages/lib/src/utils/observability/index.ts
  packages/lib/src/utils/observability/utils.test.ts
  packages/lib/src/utils/observability/utils.ts
  packages/lib/src/utils/string/index.ts
  packages/lib/src/utils/string/string.test.ts
  packages/lib/src/vite-env.d.ts
  yarn.lock
Labels: spruce, parsley

#372 DEVPROD-11184: Remove obsolete host events
  apps/spruce/cypress/integration/host/host_events.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/host/HostEventString.tsx
  apps/spruce/src/types/host.ts
Labels: spruce

#378 DEVPROD-11251: Fix jumpy first guidcue during sectioning discovery flow
  apps/parsley/src/context/SectionsFeatureDiscoveryContext/SectionsToggleGuideCue.tsx
  apps/parsley/src/gql/generated/types.ts
Labels: parsley

#377 DEVPROD-1065: Remove antd layout
  .github/pull_request_template.md
  README.md
  apps/spruce/src/components/Loading/PatchAndTaskFullPageLoad.tsx
  apps/spruce/src/components/styles/Layout.tsx
  apps/spruce/src/pages/Task.tsx
  apps/spruce/src/pages/Version.tsx
  apps/spruce/src/pages/configurePatch/configurePatchCore/__snapshots__/ConfigurePatchCore_ConfigureTasksDefault.storyshot
  apps/spruce/src/pages/configurePatch/configurePatchCore/index.tsx
  apps/spruce/src/pages/container/index.tsx
  apps/spruce/src/pages/host/index.tsx
  apps/spruce/src/pages/jobLogs/index.tsx
Labels: spruce

#380 DEVPROD-11309 Fix conditional check for Honeycomb INGEST API key and collector endpoint
  packages/lib/src/utils/observability/honeycomb.ts
Labels: spruce, parsley, evg-ui/lib

#375 DEVPROD-5790: Make parseSortString more generic
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/task/taskTabs/ExecutionTasksTable.tsx
  apps/spruce/src/pages/task/taskTabs/TestsTable.tsx
  apps/spruce/src/pages/version/useQueryVariables/index.ts
  apps/spruce/src/utils/queryString/sortString.test.ts
  apps/spruce/src/utils/queryString/sortString.ts
Labels: spruce

#390 docs: Mark status as deprecated in version page logic decision doc
  apps/spruce/docs/decisions/2023-12-13_version_page_logic.md
Labels: spruce

#389 DEVPROD-10482 Update valid projects label to use ID instead of name
  apps/spruce/cypress/integration/distroSettings/project_section.ts
  apps/spruce/src/pages/distroSettings/tabs/ProjectTab/getFormSchema.ts
Labels: spruce

#382 DEVPROD-7660: Add link to image page in task metadata
  apps/spruce/cypress/integration/image/navigation.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/mocks/taskData.ts
  apps/spruce/src/gql/queries/task.graphql
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_ContainerizedTask.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_Default.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_OOMTracker.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithAbortMessage.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithDependencies.storyshot
  apps/spruce/src/pages/task/metadata/index.tsx
Labels: spruce

#392 DEVPROD-1125: Add tags to task metadata
  apps/spruce/package.json
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/mocks/taskData.ts
  apps/spruce/src/gql/queries/task.graphql
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_ContainerizedTask.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_Default.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_OOMTracker.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithAbortMessage.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithDependencies.storyshot
  apps/spruce/src/pages/task/metadata/index.tsx
Labels: spruce

#394 DEVPROD-11410 Don't init @opentelemetry/instrumentation-fetch if running on parsley
  packages/lib/src/utils/observability/honeycomb.ts
Labels: parsley

#396 DEVPROD-10319: Fix time conversion logic in msToDuration
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/utils/string/index.ts
  apps/spruce/src/utils/string/string.test.ts
Labels: spruce

#401 DEVPROD-9875: Create generator task for Spruce parallel e2e tasks
  .evergreen/attach.yml
  .evergreen/evergreen.yml
  .evergreen/generate.yml
  .evergreen/scripts/constants.js
  .evergreen/scripts/generate-parallel-e2e-tasks.js
  .evergreen/scripts/generate-tasks.js
  .evergreen/shared.yml
Labels: spruce

#391 DEVPROD-9268: Omit secrets from local deploys
  .evergreen/deploy.yml
  .gitignore
  apps/parsley/.env-cmdrc.json
  apps/parsley/.env-cmdrc.local.json
  apps/parsley/.gitignore
  apps/parsley/README.md
  apps/parsley/package.json
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/.env-cmdrc.json
  apps/spruce/.env-cmdrc.local.json
  apps/spruce/.gitignore
  apps/spruce/README.md
  apps/spruce/package.json
  apps/spruce/src/gql/generated/types.ts
  packages/deploy-utils/README.md
  packages/deploy-utils/package.json
  packages/deploy-utils/src/build-and-push/index.ts
  packages/deploy-utils/src/setup-credentials/index.ts
  packages/deploy-utils/src/setup-credentials/script.ts
Labels: spruce, parsley

#400 DEVPROD-5931: Support filtering by event type on host event logs
  apps/spruce/cypress/integration/host/host_events.ts
  apps/spruce/src/components/Table/utils.ts
  apps/spruce/src/components/TablePopover/TableFilterPopover.tsx
  apps/spruce/src/components/styles/Popover.tsx
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/host-events.graphql
  apps/spruce/src/pages/host/HostCard.tsx
  apps/spruce/src/pages/host/HostEventString.tsx
  apps/spruce/src/pages/host/HostTable.tsx
  apps/spruce/src/pages/host/Metadata.tsx
  apps/spruce/src/pages/host/constants.ts
  apps/spruce/src/pages/host/index.tsx
  apps/spruce/src/pages/version/taskDuration/__snapshots__/TaskDurationTable_Default.storyshot
  apps/spruce/src/pages/version/taskDuration/__snapshots__/TaskDurationTable_LongContent.storyshot
  apps/spruce/src/types/host.ts
Labels: spruce
