Repository evergreen-ci/ui, pull requests merged in 2024-10, with the labels that each got.

#412 DEVPROD-10188: Render waterfall
  .evergreen/evergreen.yml
  apps/spruce/cypress/integration/waterfall/waterfall.ts
  apps/spruce/src/analytics/waterfall/useWaterfallAnalytics.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/waterfall.graphql
  apps/spruce/src/pages/waterfall/BuildRow.tsx
  apps/spruce/src/pages/waterfall/VersionLabel.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/__snapshots__/VersionLabel_Default.storyshot
  apps/spruce/src/pages/waterfall/__snapshots__/VersionLabel_GitTag.storyshot
  apps/spruce/src/pages/waterfall/__snapshots__/VersionLabel_UpstreamProject.storyshot
  apps/spruce/src/pages/waterfall/index.tsx
  apps/spruce/src/pages/waterfall/styles.ts
Labels: spruce

#415 DEVPROD-7848: Add loading state to task queue select
  apps/spruce/src/pages/taskQueue/index.tsx
Labels: spruce

#409 DEVPROD-6249: Automatically assign release version to deploy
  .github/pull_request_template.md
  packages/deploy-utils/src/prepare-prod-deploy/index.ts
  packages/deploy-utils/src/prepare-prod-deploy/prepare-prod-deploy.test.ts
  packages/deploy-utils/src/utils/git/tag.test.ts
  packages/deploy-utils/src/utils/git/tag.ts
Labels: spruce, parsley

#417 DEVPROD-11710: Update Evergreen logo for fall
  apps/spruce/src/components/Header/Navbar.tsx
  apps/spruce/src/components/Header/SpruceSummerTree.svg
  apps/spruce/src/components/Icon/icons/FallTree.tsx
Labels: spruce

#416 DEVPROD-8016: E2E tests for Sectioning
  apps/parsley/cypress/integration/sectioning.ts
  apps/parsley/cypress/integration/shortcuts.ts
  apps/parsley/src/components/LogRow/CaretToggle/index.tsx
  apps/parsley/src/components/LogRow/SectionHeader/__snapshots__/SectionHeader_SectionHeaderMany.storyshot
  apps/parsley/src/components/LogRow/SectionHeader/__snapshots__/SectionHeader_SectionHeaderSingle.storyshot
  apps/parsley/src/components/LogRow/SubsectionHeader/__snapshots__/SubsectionHeader_SubsectionHeaderNested.storyshot
  apps/parsley/src/components/LogRow/SubsectionHeader/__snapshots__/SubsectionHeader_SubsectionHeaderSingle.storyshot
  apps/parsley/src/components/LogRow/SubsectionHeader/__snapshots__/SubsectionHeader_SubsectionHeaderTopLevel.storyshot
  apps/parsley/src/components/NavBar/index.tsx
Labels: parsley

#424 DEVPROD-10190: Add project selector to waterfall
  apps/spruce/cypress/integration/waterfall/navigation.ts
  apps/spruce/src/analytics/waterfall/useWaterfallAnalytics.ts
  apps/spruce/src/components/Dropdown/Dropdown.test.tsx
  apps/spruce/src/components/Dropdown/__snapshots__/Dropdown_CustomButtonRender.storyshot
  apps/spruce/src/components/Dropdown/__snapshots__/Dropdown_Default.storyshot
  apps/spruce/src/components/Dropdown/index.tsx
  apps/spruce/src/components/ProjectSelect/FavoriteStar.tsx
  apps/spruce/src/components/ProjectSelect/ProjectOptionGroup.tsx
  apps/spruce/src/components/ProjectSelect/ProjectSelect.test.tsx
  apps/spruce/src/components/ProjectSelect/__snapshots__/ProjectSelect_Default.storyshot
  apps/spruce/src/components/ProjectSelect/__snapshots__/ProjectSelect_WithClickableHeader.storyshot
  apps/spruce/src/components/ProjectSelect/index.tsx
  apps/spruce/src/components/SearchableDropdown/SearchableDropdown.test.tsx
  apps/spruce/src/components/SearchableDropdown/__snapshots__/SearchableDropdown_CustomOption.storyshot
  apps/spruce/src/components/SearchableDropdown/__snapshots__/SearchableDropdown_Default.storyshot
  apps/spruce/src/components/SearchableDropdown/index.tsx
  apps/spruce/src/components/Spawn/spawnHostModal/Widgets/DistroDropdown.tsx
  apps/spruce/src/components/TreeSelect/__snapshots__/TreeSelect_WithDropdown.storyshot
  apps/spruce/src/components/styles/SearchableDropdown.ts
  apps/spruce/src/constants/routes.ts
  apps/spruce/src/constants/tokens.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/taskQueue/DistroOption.tsx
  apps/spruce/src/pages/waterfall/WaterfallFilters.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/index.tsx
Labels: spruce

#426 DEVPROD-10196: Render Inactive Commits Button and Modal in Waterfall
  apps/spruce/cypress/integration/waterfall/waterfall.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/waterfall.graphql
  apps/spruce/src/pages/waterfall/InactiveVersionsButton/index.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/InactiveBadge.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/VersionLabel.stories.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_Default.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_GitTag.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_Inactive.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_InactiveUntrimmedMessage.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_SmallSize.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_UpstreamProject.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/index.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/styles.ts
Labels: spruce

#437 DEVPROD-11852 Tag release environment in all OTEL spans and support beta tracking in honeycomb
  .evergreen/deploy.yml
  apps/parsley/src/main.tsx
  apps/spruce/src/index.tsx
  packages/lib/src/utils/observability/honeycomb.ts
Labels: spruce, parsley

#436 DEVPROD-11900: Add alpha info banner to beta deploys
  apps/spruce/src/pages/waterfall/index.tsx
Labels: spruce

#429 DEVPROD-11368: Render task status on waterfall
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/waterfall.graphql
  apps/spruce/src/pages/waterfall/BuildRow.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/icons/RedOutlineX.ts
  apps/spruce/src/pages/waterfall/icons/WhiteClockWithArrow.ts
  apps/spruce/src/pages/waterfall/icons/WhiteGear.ts
  apps/spruce/src/pages/waterfall/icons/WhiteWrench.ts
  apps/spruce/src/pages/waterfall/icons/WhiteX.ts
  apps/spruce/src/pages/waterfall/icons/index.ts
Labels: spruce

#439 DEVPROD-9478 Refactor date selection logic in Spawn Host page test
  apps/spruce/cypress/integration/spawn/host.ts
Labels: spruce

#441 DEVPROD-11911 Add pause back to the spruce logo animation.
  apps/spruce/src/components/Header/Navbar.tsx
  apps/spruce/src/components/Icon/AnimatedIcon/AnimatedIcon.test.tsx
  apps/spruce/src/components/Icon/AnimatedIcon/index.tsx
  apps/spruce/src/components/Icon/icons/FallTree.tsx
Labels: spruce

#430 DEVPROD-1770: Use modern query param hooks with tables
  apps/spruce/cypress/integration/task/execution_task_table.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/hooks/useTableSort/index.ts
  apps/spruce/src/pages/hosts/utils.ts
  apps/spruce/src/pages/task/taskTabs/ExecutionTasksTable.tsx
  apps/spruce/src/pages/task/taskTabs/TestsTable.tsx
  apps/spruce/src/pages/version/TaskDuration.tsx
  apps/spruce/src/pages/version/tasks/PatchTasksTable.tsx
Labels: spruce

#438 DEVPROD-10197: Implement broken versions warning on waterfall
  apps/spruce/cypress/integration/waterfall/waterfall.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/waterfall.graphql
  apps/spruce/src/pages/waterfall/InactiveVersionsButton/index.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/InactiveBadge.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/VersionLabel.stories.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_Broken.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_Default.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_GitTag.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_InactiveUntrimmedMessage.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_SmallSize.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_UpstreamProject.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/index.tsx
  apps/spruce/src/pages/waterfall/styles.ts
Labels: spruce

#428 DEVPROD-11145: Upgrade @leafygreen-ui/combobox to v9.1.4
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/package.json
  yarn.lock
Labels: dependencies

#449 DEVPROD-12038 Remove sentry sampling
  apps/parsley/src/components/ErrorHandling/Sentry.tsx
  apps/parsley/src/components/ErrorHandling/initialize.test.ts
  apps/spruce/src/components/ErrorHandling/Sentry.tsx
  apps/spruce/src/components/ErrorHandling/initialize.test.ts
Labels: spruce, parsley

#425 DEVPROD-11363: Support scrolling to different sections on Build Information page
  apps/spruce/cypress/integration/banners/github_username_banner.ts
  apps/spruce/cypress/integration/image/build_information.ts
  apps/spruce/cypress/integration/image/navigation.ts
  apps/spruce/src/analytics/image/useImageAnalytics.ts
  apps/spruce/src/components/Table/TableLoader/LoadingRow.tsx
  apps/spruce/src/components/Table/__snapshots__/BaseTable_Loading.storyshot
  apps/spruce/src/constants/routes.ts
  apps/spruce/src/hooks/index.ts
  apps/spruce/src/hooks/useScrollToAnchor/index.ts
  apps/spruce/src/hooks/useScrollToAnchor/useScrollToAnchor.test.tsx
  apps/spruce/src/hooks/useTopmostVisibleElement/index.ts
  apps/spruce/src/hooks/useTopmostVisibleElement/useTopmostVisibleElement.test.tsx
  apps/spruce/src/pages/image/GeneralTable/index.tsx
  apps/spruce/src/pages/image/index.tsx
  apps/spruce/src/pages/image/tabs/BuildInformationTab/BuildInformationNavItem.tsx
  apps/spruce/src/pages/image/tabs/BuildInformationTab/constants.ts
  apps/spruce/src/pages/image/tabs/BuildInformationTab/index.tsx
Labels: spruce

#452 DEVPROD-12078: Allow dot character in ctx regex
  apps/parsley/src/utils/resmoke/helpers.test.ts
  apps/parsley/src/utils/resmoke/helpers.ts
Labels: parsley

#451 DEVPROD-10193: Add waterfall requester filters
  apps/spruce/cypress/integration/waterfall/waterfall.ts
  apps/spruce/src/analytics/waterfall/useWaterfallAnalytics.ts
  apps/spruce/src/constants/requesters.ts
  apps/spruce/src/gql/fragments/waterfall.graphql
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/waterfall.graphql
  apps/spruce/src/pages/waterfall/RequesterFilter.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_Broken.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/index.tsx
  apps/spruce/src/pages/waterfall/WaterfallFilters.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/index.tsx
  apps/spruce/src/pages/waterfall/useFilters.test.tsx
  apps/spruce/src/pages/waterfall/useFilters.ts
  apps/spruce/src/types/waterfall.ts
Labels: spruce

#460 DEVPROD-11734: Use task execution in waterfall links
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/waterfall.graphql
  apps/spruce/src/pages/waterfall/BuildRow.tsx
Labels: spruce
