Repository evergreen-ci/ui, pull requests merged in 2024-08, with the labels that each got.

#281 DEVPROD-9282: Add button to delete GitHub app credentials
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/cypress/integration/projectSettings/github_app_settings.ts
  apps/spruce/src/components/ConfirmationModal.tsx
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/mutations/delete-github-app-credentials.graphql
  apps/spruce/src/gql/mutations/index.ts
  apps/spruce/src/pages/projectSettings/Tabs.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/AppSettingsTab.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/FieldTemplates.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/Fields/GithubAppActions.test.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/Fields/GithubAppActions.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/Fields/RequesterTypeField.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/Fields/index.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/getFormSchema.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/types.ts
Labels: spruce

#280 DEVPROD-5699: Only show restartable tasks in restart modal
  apps/spruce/src/components/VersionRestartModal/VersionRestartModal.tsx
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/build-variants-with-children.graphql
  apps/spruce/src/hooks/useVersionTaskStatusSelect.ts
Labels: spruce

#268 DEVPROD-5302: Allow log search to work with sectioning
  apps/parsley/src/components/LogRow/BaseRow/index.tsx
  apps/parsley/src/context/LogContext/index.tsx
  apps/parsley/src/gql/generated/types.ts
  apps/parsley/src/hooks/useOpenSectionAndScrollToLine/index.ts
  apps/parsley/src/hooks/useOpenSectionAndScrollToLine/useOpenSectionAndScrollToLine.test.ts
  apps/parsley/src/hooks/useSections/index.ts
  apps/parsley/src/hooks/useSections/testData.ts
  apps/parsley/src/hooks/useSections/useSections.test.tsx
  apps/parsley/src/hooks/useSections/utils.test.ts
  apps/parsley/src/hooks/useSections/utils.ts
  apps/parsley/src/utils/logRowTypes/index.ts
  apps/parsley/src/utils/searchLogs/index.ts
  apps/parsley/src/utils/searchLogs/searchLogs.test.ts
Labels: parsley

#269 DEVPROD-5301: Allow Bookmarks to work with sectioning
  apps/parsley/src/components/BookmarksBar/BookmarksBar.stories.tsx
  apps/parsley/src/components/BookmarksBar/BookmarksBar.test.tsx
  apps/parsley/src/components/BookmarksBar/index.tsx
  apps/parsley/src/components/LogWindow/index.tsx
Labels: parsley

#271 DEVPROD-5297: Allow multiple selection menu to work with sections
  apps/parsley/src/components/LogRow/BaseRow/SharingMenu/SharingMenu.test.tsx
  apps/parsley/src/components/LogRow/BaseRow/SharingMenu/__snapshots__/SharingMenu_Default.storyshot
  apps/parsley/src/components/LogRow/BaseRow/SharingMenu/index.tsx
  apps/parsley/src/components/LogRow/BaseRow/index.tsx
  apps/parsley/src/context/MultiLineSelectContext/index.tsx
Labels: parsley

#286 DEVPROD-8688: Add time zone selector to host uptime scheduler
  apps/spruce/src/components/Spawn/editHostModal/getFormSchema.tsx
  apps/spruce/src/components/Spawn/editHostModal/transformer.test.ts
  apps/spruce/src/components/Spawn/editHostModal/transformer.ts
  apps/spruce/src/components/Spawn/getFormSchema.tsx
  apps/spruce/src/components/Spawn/spawnHostModal/getFormSchema.tsx
  apps/spruce/src/components/Spawn/spawnHostModal/transformer.test.ts
  apps/spruce/src/components/Spawn/spawnHostModal/transformer.ts
  apps/spruce/src/components/Spawn/utils/hostUptime.test.ts
  apps/spruce/src/components/Spawn/utils/hostUptime.ts
  apps/spruce/src/constants/fieldMaps.test.ts
  apps/spruce/src/constants/fieldMaps.ts
  apps/spruce/src/pages/spawn/spawnHost/EditSpawnHostModal.test.tsx
  apps/spruce/src/pages/spawn/spawnHost/EditSpawnHostModal.tsx
  apps/spruce/src/pages/spawn/spawnHost/spawnHostButton/SpawnHostModal.tsx
Labels: spruce

#297 DEVPROD-9069 Highlight failing command more prominently
  apps/spruce/src/gql/mocks/taskData.ts
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_ContainerizedTask.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_Default.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithAbortMessage.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithDependencies.storyshot
  apps/spruce/src/pages/task/metadata/index.tsx
Labels: spruce

#273 DEVPROD-6448: Update task duration links to route to latest execution
  apps/parsley/src/hooks/useOpenSectionAndScrollToLine/index.ts
  apps/parsley/src/hooks/useOpenSectionAndScrollToLine/useOpenSectionAndScrollToLine.test.ts
  apps/spruce/src/pages/version/taskDuration/TaskDurationTable.tsx
  apps/spruce/src/pages/version/taskDuration/__snapshots__/TaskDurationTable_Default.storyshot
  apps/spruce/src/pages/version/taskDuration/__snapshots__/TaskDurationTable_LongContent.storyshot
Labels: spruce

#300 DEVPROD-9697 Update eslint sort rules so that evg-ui packages are not treated as external deps
  apps/parsley/src/components/Search/SearchBar/index.tsx
  apps/parsley/src/hooks/useQueryParam/index.ts
  apps/parsley/src/pages/LogDrop/ParseLogSelect/index.tsx
  apps/parsley/src/snapshot.test.ts
  apps/spruce/src/components/SearchableDropdown/index.tsx
  apps/spruce/src/components/Spawn/utils/hostUptime.ts
  apps/spruce/src/components/TextInputWithValidation/index.tsx
  apps/spruce/src/hooks/useQueryParam/index.ts
  apps/spruce/src/snapshot.test.ts
  packages/deploy-utils/src/email/index.ts
  packages/eslint-config/index.js
  packages/lib/src/snapshot.test.ts
Labels: spruce, parsley

#288 DEVPROD-9195: Enlarge patch parameters
  apps/spruce/src/components/EditableTagField/TagRow.tsx
  apps/spruce/src/components/EditableTagField/__snapshots__/EditableTagField_Default.storyshot
  apps/spruce/src/components/EditableTagField/index.tsx
  apps/spruce/src/components/FilterBadges/__snapshots__/FilterBadges_Default.storyshot
  apps/spruce/src/components/HistoryTable/HistoryTableTestSearch/__snapshots__/HistoryTableTestSearch_Default.storyshot
  apps/spruce/src/components/PageSizeSelector/__snapshots__/PageSizeSelector_Default.storyshot
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_Example1.storyshot
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_Example2.storyshot
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_Example3.storyshot
  apps/spruce/src/components/Table/TableControl/__snapshots__/TableControl_Default.storyshot
  apps/spruce/src/components/TextInputWithValidation/__snapshots__/TextInputWithValidation_Default.storyshot
  apps/spruce/src/components/TreeSelect/__snapshots__/TreeSelect_Default.storyshot
  apps/spruce/src/components/TupleSelect/__snapshots__/TupleSelect_Default.storyshot
  apps/spruce/src/components/TupleSelectWithRegexConditional/__snapshots__/TupleSelectWithRegexConditional_WithConditional.storyshot
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/commits/__snapshots__/ProjectHealth_Default.storyshot
  apps/spruce/src/pages/configurePatch/configurePatchCore/ParametersContent.tsx
  apps/spruce/src/pages/configurePatch/configurePatchCore/__snapshots__/ConfigurePatchCore_ConfigureTasksDefault.storyshot
Labels: spruce

#290 DEVPROD-8684: Implement Open & Close All Section & Subsection buttons
  apps/parsley/src/components/LogRow/RowRenderer/index.tsx
  apps/parsley/src/components/LogRow/SectionHeader/SectionHeader.test.tsx
  apps/parsley/src/components/LogRow/SectionHeader/SubsectionControls.tsx
  apps/parsley/src/components/LogRow/SectionHeader/__snapshots__/SectionHeader_SectionHeaderSingle.storyshot
  apps/parsley/src/components/LogRow/SectionHeader/index.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/SubsectionHeader.stories.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/SubsectionHeader.test.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/index.tsx
  apps/parsley/src/components/SubHeader/SectionControls.test.tsx
  apps/parsley/src/components/SubHeader/SectionControls.tsx
  apps/parsley/src/components/SubHeader/index.tsx
  apps/parsley/src/hooks/useSections/index.ts
  apps/parsley/src/hooks/useSections/testData.ts
  apps/parsley/src/hooks/useSections/useSections.test.tsx
  apps/parsley/src/hooks/useSections/utils.test.ts
  apps/parsley/src/hooks/useSections/utils.ts
Labels: parsley

#299 DEVPROD-9642: Ingest TaskEndDetail.failingCommand GQL field
  apps/parsley/src/gql/generated/types.ts
  apps/parsley/src/gql/queries/get-task.graphql
  apps/parsley/src/hooks/useTaskQuery/index.ts
  apps/parsley/src/pages/LogView/LoadingPage/useResolveLogURLAndRenderingType.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/mocks/taskData.ts
  apps/spruce/src/gql/queries/task.graphql
  apps/spruce/src/pages/task/metadata/index.tsx
Labels: spruce, parsley

#307 DEVPROD-9751 Fix label not being shown for Failing command
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_ContainerizedTask.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_Default.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithAbortMessage.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithDependencies.storyshot
  apps/spruce/src/pages/task/metadata/index.tsx
Labels: spruce

#302 DEVPROD-9562: Create distros table on Build Information page
  apps/spruce/cypress/integration/image/build_information.ts
  apps/spruce/cypress/integration/preferences/notifications.ts
  apps/spruce/cypress/integration/version/task_duration.ts
  apps/spruce/src/components/Table/BaseTable.tsx
  apps/spruce/src/constants/externalResources.ts
  apps/spruce/src/constants/hosts.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/image-distros.graphql
  apps/spruce/src/gql/queries/index.ts
  apps/spruce/src/pages/image/DistrosTable/DistrosTable.test.tsx
  apps/spruce/src/pages/image/DistrosTable/index.tsx
  apps/spruce/src/pages/image/Header.tsx
  apps/spruce/src/pages/image/ImageSelect/ImageSelect.test.tsx
  apps/spruce/src/pages/image/Tabs.tsx
  apps/spruce/src/pages/image/index.tsx
  apps/spruce/src/pages/image/tabs/BuildInformationTab/index.tsx
  apps/spruce/src/pages/image/tabs/index.tsx
  apps/spruce/src/pages/task/taskTabs/__snapshots__/ExecutionTasksTable_MultipleExecutions.storyshot
  apps/spruce/src/pages/task/taskTabs/__snapshots__/ExecutionTasksTable_SingleExecution.storyshot
  apps/spruce/src/pages/version/taskDuration/TaskDurationTable.test.tsx
  apps/spruce/src/pages/version/taskDuration/__snapshots__/TaskDurationTable_Default.storyshot
  apps/spruce/src/pages/version/taskDuration/__snapshots__/TaskDurationTable_LongContent.storyshot
Labels: spruce

#312 DEVPROD-1065: Remove antd layout
  .github/pull_request_template.md
  README.md
  apps/spruce/src/components/styles/Layout.tsx
  apps/spruce/src/pages/configurePatch/configurePatchCore/__snapshots__/ConfigurePatchCore_ConfigureTasksDefault.storyshot
Labels: spruce

#313 DEVPROD-9904 Switch GitHub app private key from input to textarea
  apps/spruce/cypress/integration/projectSettings/github_app_settings.ts
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/getFormSchema.tsx
Labels: spruce

#306 DEVPROD-4958: Allow submitting 0 to batch time input
  apps/spruce/cypress/integration/projectSettings/defaulting_to_repo.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/getFormSchema.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/transformers.test.ts
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/transformers.ts
Labels: spruce

#311 DEVPROD-928: Parallelize Spruce e2e tasks
  .evergreen/generate.yml
  .evergreen/scripts/generate-tasks.js
  .evergreen/scripts/parallelize-e2e.js
  .evergreen/shared.yml
Labels: spruce

#283 DEVPROD-7656: Create Packages table on Build Information page
  apps/spruce/cypress/integration/image/build_information.ts
  apps/spruce/src/components/Table/BaseTable.tsx
  apps/spruce/src/components/Table/__snapshots__/BaseTable_Default.storyshot
  apps/spruce/src/components/Table/__snapshots__/BaseTable_EmptyState.storyshot
  apps/spruce/src/components/Table/__snapshots__/BaseTable_Loading.storyshot
  apps/spruce/src/components/Table/__snapshots__/BaseTable_LongContent.storyshot
  apps/spruce/src/components/Table/__snapshots__/BaseTable_NestedRows.storyshot
  apps/spruce/src/components/Table/__snapshots__/BaseTable_VirtualTable.storyshot
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/image-packages.graphql
  apps/spruce/src/gql/queries/index.ts
  apps/spruce/src/pages/image/PackagesTable/PackagesTable.test.tsx
  apps/spruce/src/pages/image/PackagesTable/index.tsx
  apps/spruce/src/pages/image/tabs/BuildInformationTab/index.tsx
  apps/spruce/src/pages/task/taskTabs/FileTable/GroupedFileTable/__snapshots__/GroupedFileTable_DefaultTable.storyshot
  apps/spruce/src/pages/task/taskTabs/__snapshots__/ExecutionTasksTable_MultipleExecutions.storyshot
  apps/spruce/src/pages/task/taskTabs/__snapshots__/ExecutionTasksTable_SingleExecution.storyshot
  apps/spruce/src/pages/taskQueue/TaskQueueTable/__snapshots__/TaskQueueTable_Default.storyshot
  apps/spruce/src/pages/version/taskDuration/__snapshots__/TaskDurationTable_Default.storyshot
  apps/spruce/src/pages/version/taskDuration/__snapshots__/TaskDurationTable_LongContent.storyshot
Labels: spruce

#304 DEVPROD-7658: Create event log tables on Event Log page
  apps/spruce/cypress/integration/image/event_log.ts
  apps/spruce/src/components/Settings/EventLog/index.ts
  apps/spruce/src/constants/externalResources.ts
  apps/spruce/src/gql/client/cache.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/image-events.graphql
  apps/spruce/src/gql/queries/index.ts
  apps/spruce/src/hooks/useEvents/index.ts
  apps/spruce/src/pages/distroSettings/tabs/EventLogTab/useDistroEvents.ts
  apps/spruce/src/pages/image/ImageEventLog/Header.tsx
  apps/spruce/src/pages/image/ImageEventLog/ImageEventLog.tsx
  apps/spruce/src/pages/image/ImageEventLog/ImageEventLogTable.tsx
  apps/spruce/src/pages/image/ImageEventLog/index.ts
  apps/spruce/src/pages/image/Tabs.tsx
  apps/spruce/src/pages/image/tabs/EventLogTab/EventLogTab.test.tsx
  apps/spruce/src/pages/image/tabs/EventLogTab/EventLogTab.tsx
  apps/spruce/src/pages/image/tabs/EventLogTab/useImageEvents.ts
  apps/spruce/src/pages/image/tabs/index.tsx
  apps/spruce/src/pages/projectSettings/tabs/EventLogTab/useProjectSettingsEvents.ts
Labels: spruce

#308 DEVPROD-924: Make Spruce & Parsley test names group alphabetically
  apps/parsley/cypress.config.ts
  apps/parsley/cypress/integration/ansiLogs/ansi_logView.ts
  apps/parsley/cypress/integration/resmokeLogs/resmoke_evg_test_logView.ts
  apps/parsley/cypress/integration/resmokeLogs/resmoke_logView.ts
  apps/spruce/cypress.config.ts
  apps/spruce/cypress/integration/distroSettings/navigation.ts
  apps/spruce/cypress/integration/host/host_core.ts
  apps/spruce/cypress/integration/preferences/notifications.ts
  apps/spruce/cypress/integration/projectHealth/filtering.ts
  apps/spruce/cypress/integration/projectSettings/admin_actions.ts
  apps/spruce/cypress/integration/projectSettings/containers.ts
  apps/spruce/cypress/integration/projectSettings/project_settings.ts
  apps/spruce/cypress/integration/version/restart_modal.ts
Labels: spruce, parsley

#317 DEVPROD-7655: Create General table on Build Information page
  apps/spruce/cypress/integration/image/build_information.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/image-general.graphql
  apps/spruce/src/gql/queries/index.ts
  apps/spruce/src/pages/image/GeneralTable/GeneralTable.test.tsx
  apps/spruce/src/pages/image/GeneralTable/index.tsx
  apps/spruce/src/pages/image/tabs/BuildInformationTab/index.tsx
Labels: spruce

#329 DEVPROD-7687: Add host temporary exemption expiration warning sent
  apps/spruce/src/pages/host/HostEventString.tsx
  apps/spruce/src/types/host.ts
Labels: spruce

#330 DEVPROD-7659: Support global filter on Event Log page
  apps/spruce/cypress/integration/image/event_log.ts
  apps/spruce/src/pages/image/ImageEventLog/ImageEventLog.tsx
  apps/spruce/src/pages/image/ImageEventLog/ImageEventLogTable.tsx
  apps/spruce/src/pages/image/tabs/EventLogTab/EventLogTab.test.tsx
Labels: spruce

#336 DEVPROD-8967 Remove feature flag and update documentation URL
  apps/spruce/src/constants/externalResources.ts
  apps/spruce/src/constants/featureFlags.ts
  apps/spruce/src/pages/projectSettings/Tabs.tsx
  apps/spruce/src/pages/projectSettings/index.tsx
Labels: spruce

#331 DEVPROD-7394: Fix styles for long filter expressions
  apps/parsley/src/components/Accordion/__snapshots__/Accordion_Default.storyshot
  apps/parsley/src/components/Accordion/index.tsx
  apps/parsley/src/components/SidePanel/NavGroup/FilterNavGroup/FilterGroup/__snapshots__/FilterGroup_Default.storyshot
  apps/parsley/src/components/SidePanel/NavGroup/FilterNavGroup/FilterGroup/index.tsx
  apps/parsley/src/components/SidePanel/__snapshots__/SidePanel_Default.storyshot
Labels: parsley

#325 DEVPROD-9626: Allow rendering command sections outside of function sections
  apps/parsley/src/components/LogRow/BaseRow/SharingMenu/utils.test.ts
  apps/parsley/src/components/LogRow/RowRenderer/index.tsx
  apps/parsley/src/components/LogRow/SectionHeader/SectionHeader.stories.tsx
  apps/parsley/src/components/LogRow/SectionHeader/__snapshots__/SectionHeader_SectionHeaderMany.storyshot
  apps/parsley/src/components/LogRow/SectionHeader/index.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/SubsectionHeader.stories.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/SubsectionHeader.test.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/__snapshots__/SubsectionHeader_SubsectionHeaderNested.storyshot
  apps/parsley/src/components/LogRow/SubsectionHeader/__snapshots__/SubsectionHeader_SubsectionHeaderTopLevel.storyshot
  apps/parsley/src/components/LogRow/SubsectionHeader/index.tsx
  apps/parsley/src/components/styles/index.ts
  apps/parsley/src/components/styles/sectionHeader.ts
  apps/parsley/src/hooks/useOpenSectionAndScrollToLine/useOpenSectionAndScrollToLine.test.ts
  apps/parsley/src/hooks/useSections/testData.ts
  apps/parsley/src/hooks/useSections/useSections.test.tsx
  apps/parsley/src/hooks/useSections/utils.test.ts
  apps/parsley/src/hooks/useSections/utils.ts
  apps/parsley/src/types/logs.ts
  apps/parsley/src/utils/filterLogs/filterLogs.test.ts
  apps/parsley/src/utils/filterLogs/index.ts
  apps/parsley/src/utils/findLineIndex/findLineIndex.test.ts
  apps/parsley/src/utils/logRow/logRow.test.ts
  apps/parsley/src/utils/searchLogs/index.ts
  apps/parsley/src/utils/searchLogs/searchLogs.test.ts
Labels: parsley

#328 DEVPROD-5303: Track sectioning analytics
  apps/parsley/.gitignore
  apps/parsley/src/analytics/logWindow/useLogWindowAnalytics.ts
  apps/parsley/src/components/LogPane/index.tsx
  apps/parsley/src/components/LogRow/SectionHeader/SectionHeader.test.tsx
  apps/parsley/src/components/LogRow/SectionHeader/SubsectionControls.test.tsx
  apps/parsley/src/components/LogRow/SectionHeader/SubsectionControls.tsx
  apps/parsley/src/components/LogRow/SectionHeader/index.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/SubsectionHeader.test.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/index.tsx
  apps/parsley/src/components/SubHeader/SectionControls.test.tsx
  apps/parsley/src/components/SubHeader/SectionControls.tsx
  apps/parsley/src/gql/generated/types.ts
  apps/parsley/src/test_utils/utils.ts
Labels: parsley

#334 DEVPROD-10022: Introduce SectionStatusIcon component and add red fill to failing status icon
  apps/parsley/src/components/LogRow/SectionHeader/__snapshots__/SectionHeader_SectionHeaderMany.storyshot
  apps/parsley/src/components/LogRow/SectionHeader/index.tsx
  apps/parsley/src/components/LogRow/SectionStatusIcon/index.tsx
  apps/parsley/src/components/LogRow/SubsectionHeader/__snapshots__/SubsectionHeader_SubsectionHeaderNested.storyshot
  apps/parsley/src/components/LogRow/SubsectionHeader/__snapshots__/SubsectionHeader_SubsectionHeaderTopLevel.storyshot
  apps/parsley/src/components/LogRow/SubsectionHeader/index.tsx
  apps/spruce/src/gql/generated/types.ts
Labels: parsley

#343 DEVPROD-8865: Upgrade Vitest to v2.0.5
  apps/parsley/package.json
  apps/parsley/vite.config.ts
  apps/spruce/config/vitest/setupTests.ts
  apps/spruce/package.json
  apps/spruce/vite.config.ts
  package.json
  packages/deploy-utils/package.json
  packages/deploy-utils/vitest.config.ts
  packages/lib/package.json
  packages/lib/vitest.config.ts
  yarn.lock
Labels: dependencies

#335 DEVPROD-7661: Add links to image pages on Distro Settings page
  apps/spruce/cypress/integration/distroSettings/navigation.ts
  apps/spruce/src/pages/distroSettings/index.tsx
Labels: spruce

#350 DEVPROD-5907: Redirect from patch route to version route
  apps/spruce/src/components/Content/index.tsx
  apps/spruce/src/components/Redirects/PatchRedirect.tsx
  apps/spruce/src/components/Redirects/index.ts
  apps/spruce/src/constants/routes.ts
Labels: spruce

#351 DEVPROD-5331: Reorganize /hooks folder
  apps/parsley/src/hooks/useUser/index.ts
  apps/spruce/src/hooks/index.ts
  apps/spruce/src/hooks/tests/useLegacyUIURL.test.tsx
  apps/spruce/src/hooks/types.ts
  apps/spruce/src/hooks/useAnnouncementToast/index.ts
  apps/spruce/src/hooks/useBreadcrumbRoot/index.ts
  apps/spruce/src/hooks/useBreadcrumbRoot/useBreadcrumbRoot.test.tsx
  apps/spruce/src/hooks/useConfigurePatch/index.ts
  apps/spruce/src/hooks/useDateFormat/index.ts
  apps/spruce/src/hooks/useDisableSpawnExpirationCheckbox/index.ts
  apps/spruce/src/hooks/useDisableSpawnExpirationCheckbox/useDisableSpawnExpirationCheckbox.test.tsx
  apps/spruce/src/hooks/useFilterInputChangeHandler/index.ts
  apps/spruce/src/hooks/useFirstDistro/index.ts
  apps/spruce/src/hooks/useGetUserPatchesPageTitleAndLink/index.ts
  apps/spruce/src/hooks/useGetUserPatchesPageTitleAndLink/useGetUserPatchesPageTitleAndLink.test.tsx
  apps/spruce/src/hooks/useLGButtonRouterLink/index.tsx
  apps/spruce/src/hooks/useNetworkStatus/index.ts
  apps/spruce/src/hooks/useNetworkStatus/useNetworkStatus.test.tsx
  apps/spruce/src/hooks/useOnClickOutside/index.ts
  apps/spruce/src/hooks/useOnClickOutside/useOnClickOutside.test.tsx
  apps/spruce/src/hooks/usePageTitle/index.ts
  apps/spruce/src/hooks/usePageVisibility/index.ts
  apps/spruce/src/hooks/usePageVisibility/usePageVisibility.test.tsx
  apps/spruce/src/hooks/usePolling/index.ts
  apps/spruce/src/hooks/usePolling/usePolling.test.tsx
  apps/spruce/src/hooks/usePrevious/index.ts
  apps/spruce/src/hooks/useSpruceConfig/index.ts
  apps/spruce/src/hooks/useStatusesFilter/index.ts
  apps/spruce/src/hooks/useTableFilters/index.ts
  apps/spruce/src/hooks/useTableFilters/useTableFilters.test.tsx
  apps/spruce/src/hooks/useTableSort/index.ts
  apps/spruce/src/hooks/useTableSort/useTableSort.test.tsx
  apps/spruce/src/hooks/useTaskStatuses/index.ts
  apps/spruce/src/hooks/useUpdateURLQueryParams/index.ts
  apps/spruce/src/hooks/useUpsertQueryParams/index.ts
  apps/spruce/src/hooks/useUpsertQueryParams/useUpsertQueryParams.test.tsx
  apps/spruce/src/hooks/useUserSettings/index.ts
  apps/spruce/src/hooks/useUserTimeZone/index.ts
  apps/spruce/src/hooks/useVersionTaskStatusSelect/index.ts
  apps/spruce/src/hooks/useVersionTaskStatusSelect/useVersionTaskStatusSelect.test.ts
Labels: spruce, parsley

#354 DEVPROD-10353 Update metadata panels on spruce to use new bold label design
  apps/spruce/src/pages/configurePatch/configurePatchCore/__snapshots__/ConfigurePatchCore_ConfigureTasksDefault.storyshot
  apps/spruce/src/pages/configurePatch/configurePatchCore/index.tsx
  apps/spruce/src/pages/container/Metadata/index.tsx
  apps/spruce/src/pages/host/Metadata.tsx
  apps/spruce/src/pages/jobLogs/Metadata.tsx
  apps/spruce/src/pages/version/Metadata.tsx
Labels: spruce

#347 DEVPROD-7054: Omit changes tab for GitHub merge queue patches
  apps/spruce/src/components/CodeChanges/index.tsx
  apps/spruce/src/pages/Version.tsx
  apps/spruce/src/pages/version/VersionTabs.tsx
Labels: spruce

#342 DEVPROD-5670: Remove host uptime beta toggle
  apps/spruce/src/components/Spawn/editHostModal/transformer.test.ts
  apps/spruce/src/components/Spawn/getFormSchema.tsx
  apps/spruce/src/components/Spawn/spawnHostModal/transformer.test.ts
  apps/spruce/src/components/Spawn/utils/hostUptime.test.ts
  apps/spruce/src/components/Spawn/utils/hostUptime.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/my-hosts.graphql
  apps/spruce/src/pages/spawn/spawnHost/EditSpawnHostModal.test.tsx
  apps/spruce/src/pages/spawn/spawnHost/SpawnHostActionButton.tsx
  apps/spruce/src/pages/spawn/spawnHost/SpawnHostTableActions.test.tsx
Labels: spruce

#357 DEVPROD-10353 Make base commit label in patch metadata bold
  apps/spruce/src/pages/version/Metadata.tsx
Labels: spruce
