Repository evergreen-ci/ui, pull requests merged in 2024-11, with the labels that each got.

#469 DEVPROD-11706: Add filtered commits to inactive modal
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/waterfall.graphql
  apps/spruce/src/pages/waterfall/InactiveVersions/InactiveVersionsModal.stories.tsx
  apps/spruce/src/pages/waterfall/InactiveVersions/InactiveVersionsModal.tsx
  apps/spruce/src/pages/waterfall/InactiveVersions/__snapshots__/InactiveVersionsModal_Broken.storyshot
  apps/spruce/src/pages/waterfall/InactiveVersions/__snapshots__/InactiveVersionsModal_Default.storyshot
  apps/spruce/src/pages/waterfall/InactiveVersions/__snapshots__/InactiveVersionsModal_Filtered.storyshot
  apps/spruce/src/pages/waterfall/InactiveVersions/__snapshots__/InactiveVersionsModal_FilteredAndInactive.storyshot
  apps/spruce/src/pages/waterfall/InactiveVersions/index.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/VersionLabel.stories.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_Broken.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_Default.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_GitTag.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_SmallSize.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_UpstreamProject.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/index.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/index.tsx
  apps/spruce/src/pages/waterfall/testData.ts
  apps/spruce/src/pages/waterfall/useFilters.test.tsx
Labels: spruce

#468 DEVPROD-7857: Send Sentry alerts for 422 errors in Spruce
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/package.json
  apps/spruce/src/gql/GQLWrapper.tsx
  apps/spruce/src/gql/client/link/index.ts
  apps/spruce/src/gql/client/link/logGQLErrorsLink.test.ts
  apps/spruce/src/gql/client/link/logGQLErrorsLink.ts
  apps/spruce/src/gql/client/link/logGQLToSentryLink.ts
  apps/spruce/src/gql/fetch/index.ts
  apps/spruce/src/hooks/useCreateGQLClient/index.ts
  apps/spruce/src/pages/Login.tsx
  apps/spruce/src/utils/object/index.ts
  apps/spruce/src/utils/request.test.ts
  apps/spruce/src/utils/request.ts
  packages/lib/src/utils/object/index.ts
  packages/lib/src/utils/object/object.test.ts
  packages/lib/src/utils/request/index.ts
  packages/lib/src/utils/request/request.test.ts
  yarn.lock
Labels: spruce

#473 DEVPROD-7857: Send Sentry alerts for 422 errors in Parsley
  apps/parsley/package.json
  apps/parsley/src/components/FullPageLoad/index.tsx
  apps/parsley/src/gql/GQLProvider.tsx
  apps/parsley/src/gql/client/link/index.ts
  apps/parsley/src/gql/client/link/logGQLErrorsLink.test.ts
  apps/parsley/src/gql/client/link/logGQLErrorsLink.ts
  apps/parsley/src/gql/client/useCreateGQLClient/index.ts
  apps/parsley/src/gql/fetch/index.ts
  apps/parsley/src/gql/generated/types.ts
  apps/parsley/src/gql/queries/index.ts
  apps/parsley/src/gql/queries/secret-fields.graphql
  apps/parsley/src/pages/index.tsx
  apps/spruce/package.json
  apps/spruce/src/components/Content/Layout.tsx
  apps/spruce/src/components/SpruceLoader/index.tsx
  apps/spruce/src/gql/GQLWrapper.tsx
  apps/spruce/src/gql/client/useCreateGQLClient/index.ts
  packages/lib/src/components/FullPageLoad/index.tsx
  yarn.lock
Labels: parsley

#478 DEVPROD-10151: Rename owner field in project settings
  apps/spruce/src/pages/projectSettings/CreateProjectModal.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/getFormSchema.tsx
Labels: spruce

#443 DEVPROD-10191: Add waterfall build variant filter
  apps/spruce/cypress/integration/waterfall/waterfall.ts
  apps/spruce/cypress/support/commands.ts
  apps/spruce/src/analytics/waterfall/useWaterfallAnalytics.ts
  apps/spruce/src/components/FilterBadges/FilterBadge.tsx
  apps/spruce/src/components/FilterBadges/FilterBadges.test.tsx
  apps/spruce/src/components/FilterBadges/__snapshots__/FilterBadges_Default.storyshot
  apps/spruce/src/components/FilterBadges/useFilterBadgeQueryParams.test.tsx
  apps/spruce/src/components/TupleSelect/__snapshots__/TupleSelect_Default.storyshot
  apps/spruce/src/components/TupleSelect/index.tsx
  apps/spruce/src/components/TupleSelectWithRegexConditional/__snapshots__/TupleSelectWithRegexConditional_WithConditional.storyshot
  apps/spruce/src/pages/waterfall/BuildRow.tsx
  apps/spruce/src/pages/waterfall/NameFilter.tsx
  apps/spruce/src/pages/waterfall/WaterfallFilters.tsx
  apps/spruce/src/pages/waterfall/index.tsx
  apps/spruce/src/pages/waterfall/useFilters.test.tsx
  apps/spruce/src/pages/waterfall/useFilters.ts
  apps/spruce/src/types/waterfall.ts
  packages/lib/src/test_utils/custom-queries.ts
Labels: spruce

#479 DEVPROD-11667: Support git tag requester for project notifications
  apps/spruce/src/constants/triggers.ts
Labels: spruce

#471 DEVPROD-10199: Make waterfall build variants pinnable
  apps/spruce/cypress/integration/waterfall/pagination.ts
  apps/spruce/cypress/integration/waterfall/waterfall.ts
  apps/spruce/src/constants/index.ts
  apps/spruce/src/pages/waterfall/BuildRow.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/index.tsx
  apps/spruce/src/pages/waterfall/styles.ts
  apps/spruce/src/pages/waterfall/useFilters.test.tsx
  apps/spruce/src/pages/waterfall/useFilters.ts
  apps/spruce/src/utils/localStorage/index.ts
  apps/spruce/src/utils/localStorage/localStorage.test.ts
Labels: spruce

#483 DEVPROD-5268 Add disclaimer for file locations when spawning hosts
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/src/components/Spawn/spawnHostModal/getFormSchema.tsx
Labels: spruce

#482 DEVPROD-11433: Release Image Visibility page
  apps/spruce/src/components/Content/index.tsx
  apps/spruce/src/constants/featureFlags.ts
  apps/spruce/src/pages/distroSettings/index.tsx
  apps/spruce/src/pages/distroSettings/tabs/GeneralTab/getFormSchema.ts
  apps/spruce/src/pages/task/metadata/ImageVisibilityGuideCue.tsx
  apps/spruce/src/pages/task/metadata/index.tsx
Labels: spruce

#481 DEVPROD-12509: Use display status in waterfall
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/waterfall.graphql
  apps/spruce/src/pages/waterfall/BuildRow.tsx
  apps/spruce/src/pages/waterfall/index.tsx
Labels: spruce

#485 DEVPROD-12004: Send entire public key document when editing spawn host
  apps/spruce/src/components/Spawn/editHostModal/utils.ts
  apps/spruce/src/components/Spawn/utils/hostUptime.ts
  apps/spruce/src/pages/spawn/spawnHost/EditSpawnHostModal.tsx
  apps/spruce/src/pages/spawn/spawnHost/spawnHostButton/SpawnHostModal.tsx
Labels: spruce

#484 DEVPROD-803 Support uploading files to Parsley via clipboard [minor]
  apps/parsley/cypress/integration/uploadedLogs/upload.ts
  apps/parsley/cypress/support/commands.ts
  apps/parsley/cypress/support/index.ts
  apps/parsley/src/analytics/logDrop/useLogDropAnalytics.ts
  apps/parsley/src/gql/generated/types.ts
  apps/parsley/src/hooks/useClipboardPaste/index.ts
  apps/parsley/src/hooks/useClipboardPaste/useClipboardPaste.test.ts
  apps/parsley/src/pages/LogDrop/FileDropper.tsx
  apps/parsley/src/pages/LogDrop/FileSelector/index.tsx
  apps/parsley/src/pages/LogDrop/constants.ts
  apps/parsley/src/pages/LogDrop/state.ts
Labels: parsley

#498 DEVPROD-1100 Make size required for Spawn Volume modal
  apps/spruce/src/components/Spawn/spawnVolumeModal/getFormSchema.tsx
Labels: spruce

#477 DEVPROD-6472: Make Project Settings fields readonly for view-only permissions
  apps/spruce/cypress/integration/projectSettings/access.ts
  apps/spruce/cypress/integration/projectSettings/defaulting_to_repo.ts
  apps/spruce/cypress/integration/projectSettings/permissions.ts
  apps/spruce/cypress/integration/projectSettings/repo_settings.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/index.ts
  apps/spruce/src/gql/queries/is-repo.graphql
  apps/spruce/src/gql/queries/user-repo-settings-permissions.graphql
  apps/spruce/src/hooks/index.ts
  apps/spruce/src/hooks/useHasProjectOrRepoEditPermission/index.ts
  apps/spruce/src/hooks/useHasProjectOrRepoEditPermission/useHasProjectOrRepoPermissions.test.tsx
  apps/spruce/src/pages/projectSettings/HeaderButtons.tsx
  apps/spruce/src/pages/projectSettings/index.tsx
  apps/spruce/src/pages/projectSettings/tabs/BaseTab.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/Fields/DeactivateStepbackTaskField.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/Fields/DeleteProjectField.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/Fields/RepoConfigField.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/Fields/RepotrackerField.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/getFormSchema.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/Fields/GithubAppActions.tsx
  apps/spruce/src/pages/projectSettings/tabs/VariablesTab/PromoteVariablesModal.tsx
  apps/spruce/src/pages/projectSettings/tabs/VariablesTab/VariablesTab.tsx
Labels: spruce

#499 DEVPROD-11880: Reposition tooltip in last active version column
  apps/spruce/src/pages/waterfall/BuildRow.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/useFilters.ts
Labels: spruce

#509 DEVPROD-8728 Ensure failing line index doesn't show up as -1
  apps/parsley/src/context/LogContext/state.ts
  apps/parsley/src/gql/generated/types.ts
Labels: parsley

#510 DEVPROD-9506 Update reset-when-finished warning message
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/task/metadata/index.tsx
Labels: spruce

#508 DEVPROD-8663 Move TestStatusBadge to lib
  apps/parsley/src/components/Badge/index.tsx
  apps/parsley/src/components/SubHeader/EvergreenTaskSubHeader.tsx
  apps/spruce/src/components/TestStatusBadge/TestStatusBadge.stories.tsx
  apps/spruce/src/components/TestStatusBadge/__snapshots__/TestStatusBadge_Default.storyshot
  apps/spruce/src/components/TestStatusBadge/constants.ts
  apps/spruce/src/components/TestStatusBadge/index.tsx
  apps/spruce/src/pages/jobLogs/JobLogsTable.tsx
  apps/spruce/src/pages/task/taskTabs/testsTable/getColumnsTemplate.tsx
  packages/lib/src/components/Badge/TestStatusBadge/TestStatusBadge.stories.tsx
  packages/lib/src/components/Badge/TestStatusBadge/__snapshots__/TestStatusBadge_AllBadges.storyshot
  packages/lib/src/components/Badge/TestStatusBadge/__snapshots__/TestStatusBadge_Default.storyshot
  packages/lib/src/components/Badge/TestStatusBadge/index.tsx
  packages/lib/src/components/TextInputWithGlyph/__snapshots__/TextInputWithGlyph_Default.storyshot
Labels: spruce, parsley, evg-ui/lib

#506 DEVPROD-10198: Show updated task status legend on waterfall page
  apps/spruce/src/analytics/waterfall/useWaterfallAnalytics.ts
  apps/spruce/src/components/TaskStatusIcon/index.tsx
  apps/spruce/src/components/TaskStatusIconLegend/TaskStatusIconLegend.stories.tsx
  apps/spruce/src/components/TaskStatusIconLegend/__snapshots__/TaskStatusIconLegend_LegendOnlyMainlineCommits.storyshot
  apps/spruce/src/components/TaskStatusIconLegend/__snapshots__/TaskStatusIconLegend_LegendOnlyWaterfall.storyshot
  apps/spruce/src/components/TaskStatusIconLegend/__snapshots__/TaskStatusIconLegend_LegendWithButton.storyshot
  apps/spruce/src/components/TaskStatusIconLegend/index.tsx
  apps/spruce/src/pages/waterfall/index.tsx
Labels: spruce

#512 DEVPROD-10200: Implement "Go to Date" feature
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/cypress/integration/waterfall/filters.ts
  apps/spruce/cypress/integration/waterfall/waterfall.ts
  apps/spruce/package.json
  apps/spruce/src/analytics/waterfall/useWaterfallAnalytics.ts
  apps/spruce/src/components/DayPicker/index.tsx
  apps/spruce/src/components/Spawn/getFormSchema.tsx
  apps/spruce/src/components/Spawn/utils/hostUptime.ts
  apps/spruce/src/constants/subscription.ts
  apps/spruce/src/constants/time.test.ts
  apps/spruce/src/constants/time.ts
  apps/spruce/src/hooks/useDateFormat/index.ts
  apps/spruce/src/hooks/useUserTimeZone/index.ts
  apps/spruce/src/pages/preferences/preferencesTabs/ProfileTab.tsx
  apps/spruce/src/pages/preferences/preferencesTabs/notificationTab/NotificationField.tsx
  apps/spruce/src/pages/projectSettings/tabs/PeriodicBuildsTab/getFormSchema.ts
  apps/spruce/src/pages/task/taskTabs/logs/logTypes/LogMessageLine.tsx
  apps/spruce/src/pages/waterfall/DateFilter/index.tsx
  apps/spruce/src/pages/waterfall/PaginationButtons/index.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_Broken.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_Default.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_GitTag.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_SmallSize.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_TaskStatsTooltip.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_UpstreamProject.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/index.tsx
  apps/spruce/src/pages/waterfall/WaterfallFilters.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/types.ts
  apps/spruce/src/utils/string/index.ts
  apps/spruce/src/utils/string/string.test.ts
  yarn.lock
Labels: spruce
