Repository evergreen-ci/ui, pull requests merged in 2025-02, with the labels that each got.

#607 DEVPROD-14608 Extract upstream project into its own query
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/index.ts
  apps/spruce/src/gql/queries/version-upstream-project.graphql
  apps/spruce/src/pages/waterfall/VersionLabel/UpstreamProjectLink.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/VersionLabel.stories.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/index.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/testData.ts
  apps/spruce/src/pages/waterfall/testData.ts
Labels: spruce

#590 DEVPROD-10205: Create onboarding tutorial
  apps/spruce/cypress/integration/waterfall/onboarding.ts
  apps/spruce/cypress/support/e2e.ts
  apps/spruce/src/components/ButtonDropdown.tsx
  apps/spruce/src/components/TaskStatusIconLegend/__snapshots__/TaskStatusIconLegend_LegendWithButton.storyshot
  apps/spruce/src/components/TaskStatusIconLegend/index.tsx
  apps/spruce/src/components/WalkthroughGuideCue/WalkthroughGuideCue.test.tsx
  apps/spruce/src/components/WalkthroughGuideCue/index.tsx
  apps/spruce/src/constants/cookies.ts
  apps/spruce/src/pages/waterfall/BuildRow.tsx
  apps/spruce/src/pages/waterfall/DateFilter/index.tsx
  apps/spruce/src/pages/waterfall/InactiveVersions/InactiveVersionsModal.tsx
  apps/spruce/src/pages/waterfall/OnboardingTutorial/index.tsx
  apps/spruce/src/pages/waterfall/TaskStatsTooltip.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/index.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/WaterfallMenu/index.tsx
  apps/spruce/src/pages/waterfall/constants.ts
  apps/spruce/src/pages/waterfall/index.tsx
Labels: spruce

#604 DEVPROD-10203: Redirect links to waterfall if beta feature is enabled
  apps/spruce/cypress/integration/preferences/user_preferences.ts
  apps/spruce/cypress/integration/waterfall/navigation.ts
  apps/spruce/cypress/integration/waterfall/waterfall.ts
  apps/spruce/src/analytics/navbar/useNavbarAnalytics.ts
  apps/spruce/src/components/Header/AuxiliaryDropdown.tsx
  apps/spruce/src/components/Header/NavDropdown/index.tsx
  apps/spruce/src/components/Header/Navbar.tsx
  apps/spruce/src/components/Header/UserDropdown.tsx
  apps/spruce/src/components/Redirects/WaterfallCommitsRedirect.tsx
  apps/spruce/src/constants/routes.ts
  apps/spruce/src/hooks/useBreadcrumbRoot/index.ts
  apps/spruce/src/pages/preferences/PreferencesTabs.tsx
  apps/spruce/src/pages/preferences/index.tsx
  apps/spruce/src/pages/preferences/preferencesTabs/UISettingsTab.tsx
  apps/spruce/src/pages/preferences/preferencesTabs/notificationTab/UserSubscriptions.tsx
  apps/spruce/src/pages/preferences/preferencesTabs/notificationTab/utils.ts
  apps/spruce/src/pages/preferences/preferencesTabs/uiSettingsTab/BetaFeatures.tsx
  apps/spruce/src/pages/preferences/preferencesTabs/uiSettingsTab/PreferenceToggles.tsx
  apps/spruce/src/pages/waterfall/TaskStatsTooltip.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_SmallSize.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_TaskStatsTooltip.storyshot
Labels: spruce

#614 DEVPROD-14682: Make success banner look more like an announcement
  apps/spruce/src/components/Banners/SiteBanner.tsx
Labels: spruce

#619 DEVPROD-14357 add more descriptions to project page
  apps/spruce/src/pages/projectSettings/tabs/GithubCommitQueueTab/getFormSchema.tsx
Labels: spruce

#620 DEVPROD-14700: Add pin analytics event
  apps/spruce/src/analytics/waterfall/useWaterfallAnalytics.ts
  apps/spruce/src/pages/waterfall/BuildRow.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
Labels: spruce

#616 DEVPROD-13428: Reset Amboy database in e2e tests when mutations enqueue jobs
  apps/parsley/cypress/support/index.ts
  apps/spruce/cypress/support/e2e.ts
  scripts/evg-db-ops.sh
Labels: spruce, parsley

#625 DEVPROD-14847: Update `eslint-plugin-import` to use a more opinionated sort order
  apps/parsley/src/components/ErrorHandling/ErrorBoundary.stories.tsx
  apps/parsley/src/components/LogRow/AnsiRow/AnsiRow.stories.tsx
  apps/parsley/src/context/LogContext/LogContext.test.tsx
  apps/parsley/src/gql/generated/types.ts
  apps/parsley/src/hooks/useSections/testData.ts
  apps/parsley/src/hooks/useSections/useSections.test.tsx
  apps/spruce/src/components/FilterChips/FilterChips.stories.tsx
  apps/spruce/src/components/HistoryTable/HistoryTable.stories.tsx
  apps/spruce/src/components/HistoryTable/HistoryTable.tsx
  apps/spruce/src/components/HistoryTable/HistoryTableRow/BaseRow/FoldedCommit/FoldedCommit.stories.tsx
  apps/spruce/src/components/HistoryTable/HistoryTableRow/BaseRow/FoldedCommit/FoldedCommit.test.tsx
  apps/spruce/src/components/PatchActionButtons/ScheduleTasks/ScheduleTasks.stories.tsx
  apps/spruce/src/components/PatchesPage/ListArea/ListArea.stories.tsx
  apps/spruce/src/components/PatchesPage/ListArea/PatchCard/PatchCard.stories.tsx
  apps/spruce/src/components/ProjectSelect/ProjectSelect.stories.tsx
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/waterfall.graphql
  apps/spruce/src/pages/commits/ActiveCommits/BuildVariantCard/WaterfallTaskStatusIcon/WaterfallTaskStatusIcon.stories.tsx
  apps/spruce/src/pages/configurePatch/configurePatchCore/ConfigurePatchCore.stories.tsx
  apps/spruce/src/pages/configurePatch/configurePatchCore/useConfigurePatch/useConfigurePatch.test.tsx
  apps/spruce/src/pages/version/BuildVariantCard/BuildVariantCard.stories.tsx
  apps/spruce/src/pages/waterfall/InactiveVersions/InactiveVersionsModal.stories.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/VersionLabel.stories.tsx
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/lib/src/context/toast/toast.test.tsx
  packages/lib/src/utils/observability/ReactRouterSpanProcessor/ReactRouterSpanProcessor.test.ts
  yarn.lock
Labels: dependencies

#618 DEVPROD-13933: Add custom cache
  apps/spruce/cypress/integration/waterfall/pagination.ts
  apps/spruce/src/gql/client/cache.ts
  apps/spruce/src/pages/waterfall/caching/caching.test.ts
  apps/spruce/src/pages/waterfall/caching/index.ts
  apps/spruce/src/pages/waterfall/testData.ts
  apps/spruce/src/pages/waterfall/utils.test.ts
Labels: spruce

#628 DEVPROD-14905: Remove `eslint-config-airbnb`
  apps/parsley/config/vitest/setupTests.ts
  apps/parsley/cypress/integration/ansiLogs/ansi_highlighting.ts
  apps/parsley/cypress/integration/resmokeLogs/resmoke_highlighting.ts
  apps/parsley/cypress/integration/shortcuts.ts
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/Toggles/BaseToggle/index.tsx
  apps/parsley/src/components/ErrorHandling/Sentry.tsx
  apps/parsley/src/components/IconWithTooltip/index.tsx
  apps/parsley/src/context/LogContext/test_utils/index.tsx
  apps/parsley/src/main.tsx
  apps/parsley/src/utils/highlightHtml/index.tsx
  apps/parsley/src/utils/renderHtml/index.tsx
  apps/parsley/vite.config.ts
  apps/spruce/.eslintrc.cjs
  apps/spruce/config/vitest/setupTests.ts
  apps/spruce/cypress/integration/hosts/host_filtering.ts
  apps/spruce/cypress/integration/projectHealth/variant_history.ts
  apps/spruce/cypress/integration/projectSettings/containers.ts
  apps/spruce/cypress/integration/subscription_modal.ts
  apps/spruce/cypress/integration/task/task_actions.ts
  apps/spruce/cypress/integration/version/subscription_modal.ts
  apps/spruce/cypress/integration/version/task_filters.ts
  apps/spruce/scripts/check-schema-and-codegen/utils.ts
  apps/spruce/src/components/ErrorHandling/Sentry.tsx
  apps/spruce/src/components/SpruceForm/FieldTemplates/index.tsx
  apps/spruce/src/components/Table/BaseTable.tsx
  apps/spruce/src/components/VisibilityContainer/VisibilityContainer.test.tsx
  apps/spruce/src/components/styles/SideNav.tsx
  apps/spruce/src/gql/client/link/logGQLErrorsLink.test.ts
  apps/spruce/src/hooks/useDimensions/useDimensions.test.ts
  apps/spruce/src/hooks/useIntersectionObserver/useIntersectionObserver.test.ts
  apps/spruce/src/index.tsx
  apps/spruce/src/pages/ProjectPatches.tsx
  apps/spruce/src/pages/commits/InactiveCommits/index.tsx
  apps/spruce/src/pages/configurePatch/configurePatchCore/ConfigureTasks/index.tsx
  apps/spruce/src/pages/configurePatch/configurePatchCore/index.tsx
  apps/spruce/src/pages/host/HostEventString/HostEventString.stories.tsx
  apps/spruce/src/pages/host/HostTable/index.tsx
  apps/spruce/src/pages/image/tabs/EventLogTab/EventLogTab.tsx
  apps/spruce/src/pages/task/executionDropdown/ExecutionSelector.tsx
  apps/spruce/src/pages/version/Tabs/index.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/index.tsx
  apps/spruce/src/pages/waterfall/WaterfallErrorBoundary/WaterfallErrorBoundary.test.tsx
  apps/spruce/src/pages/waterfall/WaterfallErrorBoundary/index.tsx
  apps/spruce/src/utils/errorReporting.test.ts
  apps/spruce/vite.config.ts
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/lib/src/components/styles/Link.tsx
  packages/lib/src/test_utils/index.tsx
  yarn.lock
Labels: dependencies

#630 DEVPROD-14936: Upgrade MongoDB and Tools
  .evergreen/evergreen.yml
Labels: spruce, parsley

#632 DEVPROD-8866: Upgrade to ESLint v9
  apps/parsley/.eslintrc.cjs
  apps/parsley/.storybook/preview.tsx
  apps/parsley/config/leafygreen-ui/emotion.ts
  apps/parsley/eslint.config.js
  apps/parsley/package.json
  apps/parsley/src/components/ErrorHandling/Sentry.tsx
  apps/parsley/src/components/PaginatedVirtualList/index.tsx
  apps/parsley/src/utils/fetchLogFile/index.ts
  apps/parsley/src/utils/streams/index.ts
  apps/parsley/src/utils/validators/index.ts
  apps/spruce/.eslintrc.cjs
  apps/spruce/.storybook/preview.tsx
  apps/spruce/config/leafygreen-ui/emotion/index.ts
  apps/spruce/eslint.config.js
  apps/spruce/package.json
  apps/spruce/src/components/ErrorHandling/Sentry.tsx
  apps/spruce/src/components/FilterChips/SeeMoreModal.tsx
  apps/spruce/src/components/HistoryTable/HistoryTableRow/BaseRow/styles.ts
  apps/spruce/src/components/Icon/AnimatedIcon/AnimatedIcon.test.tsx
  apps/spruce/src/components/TreeSelect/TreeSelect.tsx
  apps/spruce/src/hooks/useNetworkStatus/index.ts
  apps/spruce/src/hooks/usePageVisibility/index.ts
  apps/spruce/src/hooks/useRunningTime/index.ts
  apps/spruce/src/pages/commits/ActiveCommits/BuildVariantCard/WaterfallTaskStatusIcon/index.tsx
  apps/spruce/src/utils/validators/index.ts
  apps/spruce/tsconfig.json
  packages/deploy-utils/.eslintrc.cjs
  packages/deploy-utils/eslint.config.js
  packages/deploy-utils/package.json
  packages/eslint-config/README.md
  packages/eslint-config/eslint.config.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/lib/.eslintrc.cjs
  packages/lib/.storybook/main.ts
  packages/lib/config/leafygreen-ui/emotion/index.ts
  packages/lib/eslint.config.js
  packages/lib/package.json
  packages/lib/src/test_utils/index.tsx
  packages/lib/src/utils/object/index.ts
  packages/lib/src/utils/observability/ReactRouterSpanProcessor/index.ts
  packages/storybook-addon/.eslintrc.cjs
  packages/storybook-addon/eslint.config.js
  packages/storybook-addon/package.json
  yarn.lock
Labels: dependencies

#638 DEVPROD-14880 Set default spawn volume type to gp3
  apps/spruce/cypress/integration/spawn/volume.ts
  apps/spruce/src/constants/volumes.ts
  apps/spruce/src/pages/spawn/spawnVolume/SpawnVolumeModal.test.tsx
Labels: spruce

#637 DEVPROD-11415 Instrument fetch requests in Parsley
  apps/parsley/src/utils/fetchLogFile/index.ts
  packages/lib/src/utils/observability/honeycomb.ts
Labels: parsley

#646 DEVPROD-11247, DEVPROD-12094: Remove image visibility and test analysis guide cues
  apps/spruce/cypress/integration/image/navigation.ts
  apps/spruce/cypress/support/e2e.ts
  apps/spruce/src/constants/cookies.ts
  apps/spruce/src/pages/task/metadata/ImageVisibilityGuideCue.tsx
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_Default.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_OOMTracker.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithAbortMessage.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithDependencies.storyshot
  apps/spruce/src/pages/task/metadata/index.tsx
  apps/spruce/src/pages/version/Tabs/TestAnalysis/TestAnalysisTabGuideCue/index.tsx
  apps/spruce/src/pages/version/Tabs/index.tsx
Labels: spruce

#645 DEVPROD-14952: Split out variant and task filters
  apps/spruce/cypress/integration/waterfall/filters.ts
  apps/spruce/src/analytics/projectHealth/useProjectHealthAnalytics.ts
  apps/spruce/src/analytics/waterfall/useWaterfallAnalytics.ts
  apps/spruce/src/components/TupleSelect/TupleSelect.stories.tsx
  apps/spruce/src/components/TupleSelect/TupleSelect.test.tsx
  apps/spruce/src/components/TupleSelect/__snapshots__/TupleSelect_Default.storyshot
  apps/spruce/src/components/TupleSelect/index.tsx
  apps/spruce/src/components/TupleSelectWithRegexConditional/TupleSelectWithRegexConditional.stories.tsx
  apps/spruce/src/components/TupleSelectWithRegexConditional/TupleSelectWithRegexConditional.test.tsx
  apps/spruce/src/components/TupleSelectWithRegexConditional/__snapshots__/TupleSelectWithRegexConditional_WithConditional.storyshot
  apps/spruce/src/components/TupleSelectWithRegexConditional/index.tsx
  apps/spruce/src/pages/commits/index.tsx
  apps/spruce/src/pages/waterfall/BuildVariantFilter/index.tsx
  apps/spruce/src/pages/waterfall/BuildVariantTaskFilter/index.tsx
  apps/spruce/src/pages/waterfall/TaskFilter/index.tsx
  apps/spruce/src/pages/waterfall/WaterfallFilters.tsx
  apps/spruce/src/pages/waterfall/constants.ts
Labels: spruce

#641 DEVPROD-12594: Clear order params when reaching first page of waterfall
  apps/spruce/cypress/integration/waterfall/pagination.ts
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/caching/caching.test.ts
  apps/spruce/src/pages/waterfall/caching/index.ts
Labels: spruce

#657 DEVPROD-14877: Use `status` if version was created before `displayStatusCache` was added
  apps/spruce/src/pages/waterfall/BuildRow.tsx
  apps/spruce/src/pages/waterfall/constants.ts
Labels: spruce

#656 DEVPROD-12285: Allow users to modify volume size
  apps/spruce/cypress/integration/spawn/volume.ts
  apps/spruce/src/components/Spawn/editVolumeModal/getFormSchema.tsx
  apps/spruce/src/components/Spawn/editVolumeModal/transformer.ts
  apps/spruce/src/components/Spawn/editVolumeModal/types.ts
  apps/spruce/src/pages/spawn/SpawnVolume.tsx
  apps/spruce/src/pages/spawn/spawnVolume/SpawnVolumeTable.tsx
  apps/spruce/src/pages/spawn/spawnVolume/SpawnVolumeTableActions.tsx
  apps/spruce/src/pages/spawn/spawnVolume/spawnVolumeTableActions/EditButton.tsx
  apps/spruce/src/pages/spawn/spawnVolume/spawnVolumeTableActions/EditVolumeModal.tsx
Labels: spruce

#660 DEVPROD-14935: Show metadata title while loading
  apps/spruce/src/components/MetadataCard.tsx
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/configurePatch/configurePatchCore/index.tsx
  apps/spruce/src/pages/container/Metadata/index.tsx
  apps/spruce/src/pages/host/Metadata.tsx
  apps/spruce/src/pages/jobLogs/Metadata.tsx
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_ContainerizedTask.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_Default.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_OOMTracker.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithAbortMessage.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithDependencies.storyshot
  apps/spruce/src/pages/task/metadata/index.tsx
  apps/spruce/src/pages/version/BuildVariantCard/index.tsx
  apps/spruce/src/pages/version/Metadata.tsx
Labels: spruce

#661 DEVPROD-14587: Remove error toast for missing downstream tasks
  apps/spruce/src/pages/version/Tabs/DownstreamTasks/DownstreamProjectAccordion.tsx
Labels: spruce

#659 DEVPROD-15077: Fix menu collapsed state
  apps/parsley/cypress/support/commands.ts
  apps/parsley/cypress/support/index.ts
  apps/parsley/src/components/SidePanel/index.tsx
  apps/parsley/src/constants/cookies.ts
  apps/parsley/src/gql/generated/types.ts
Labels: parsley

#665 DEVPROD-11546 Add info sprinkle to makespan and time taken fields
  apps/spruce/src/components/MetadataCard.tsx
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_ContainerizedTask.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_Default.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_OOMTracker.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithAbortMessage.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithDependencies.storyshot
  apps/spruce/src/pages/version/BuildVariantCard/__snapshots__/BuildVariantCard_Default.storyshot
  apps/spruce/src/pages/version/Metadata.tsx
  apps/spruce/src/pages/version/ParametersModal/__snapshots__/ParametersModal_Default.storyshot
Labels: spruce

#668 DEVPROD-1031: Update schedule/unschedule button state on Task page
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/mutations/schedule-tasks.graphql
  apps/spruce/src/gql/mutations/unschedule-task.graphql
Labels: spruce

#663 DEVPROD-13093: Remove userSettings query
  apps/spruce/src/components/Banners/GithubUsernameBanner.tsx
  apps/spruce/src/components/Banners/SlackNotificationBanner.tsx
  apps/spruce/src/components/Spawn/spawnHostModal/useLoadFormSchemaData.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/mocks/getSpruceConfig.ts
  apps/spruce/src/gql/queries/user-settings.graphql
  apps/spruce/src/hooks/useUserSettings/index.ts
  apps/spruce/src/hooks/useUserTimeZone/index.ts
Labels: spruce

#666 DEVPROD-9841: Don't upload passing Cypress videos
  apps/parsley/cypress.config.ts
  apps/spruce/cypress.config.ts
Labels: spruce, parsley

#667 DEVPROD-12122 Move schedule task warning banner to a fixed position
  apps/spruce/src/components/ScheduleTasksModal/index.tsx
  apps/spruce/src/components/VersionRestartModal/VersionRestartModal.tsx
Labels: spruce

#671 DEVPROD-13093: Remove userSettings query from subscriptions
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/user-subscriptions.graphql
  apps/spruce/src/pages/preferences/preferencesTabs/notificationTab/useSubscriptionData.tsx
Labels: spruce

#670 DEVPROD-9352: Remove "Force Repotracker Run" button from repo settings page
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/getFormSchema.tsx
Labels: spruce

#673 DEVPROD-15373 Fix metadata spacing
  apps/spruce/src/components/MetadataCard/MetadataCard.stories.tsx
  apps/spruce/src/components/MetadataCard/__snapshots__/MetadataCard_Default.storyshot
  apps/spruce/src/components/MetadataCard/index.tsx
  apps/spruce/src/components/PageSizeSelector/__snapshots__/PageSizeSelector_Default.storyshot
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_Example1.storyshot
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_Example2.storyshot
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_Example3.storyshot
  apps/spruce/src/components/Table/TableControl/__snapshots__/TableControl_Default.storyshot
  apps/spruce/src/components/TextInputWithValidation/__snapshots__/TextInputWithValidation_Default.storyshot
  apps/spruce/src/components/TreeSelect/__snapshots__/TreeSelect_Default.storyshot
  apps/spruce/src/components/TupleSelect/__snapshots__/TupleSelect_Default.storyshot
  apps/spruce/src/components/TupleSelectWithRegexConditional/__snapshots__/TupleSelectWithRegexConditional_WithConditional.storyshot
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/commits/__snapshots__/ProjectHealth_Default.storyshot
  apps/spruce/src/pages/configurePatch/configurePatchCore/index.tsx
  apps/spruce/src/pages/container/Metadata/index.tsx
  apps/spruce/src/pages/host/HostTable/__snapshots__/HostTable_Default.storyshot
  apps/spruce/src/pages/host/Metadata.tsx
  apps/spruce/src/pages/jobLogs/Metadata.tsx
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_ContainerizedTask.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_Default.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_OOMTracker.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithAbortMessage.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithDependencies.storyshot
  apps/spruce/src/pages/task/metadata/index.tsx
  apps/spruce/src/pages/version/BuildVariantCard/__snapshots__/BuildVariantCard_Default.storyshot
  apps/spruce/src/pages/version/BuildVariantCard/index.tsx
  apps/spruce/src/pages/version/Metadata.tsx
  apps/spruce/src/pages/version/ParametersModal/__snapshots__/ParametersModal_Default.storyshot
Labels: spruce
