Repository evergreen-ci/ui, pull requests merged in 2025-03, with the labels that each got.

#672 DEVPROD-15343: Replace deprecated `ConfirmationModal` props
  apps/parsley/src/components/NavBar/UploadLink/index.tsx
  apps/parsley/src/components/ProjectFiltersModal/index.tsx
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/src/components/Banners/RepotrackerBanner.tsx
  apps/spruce/src/components/Hosts/UpdateStatusModal.tsx
  apps/spruce/src/components/Notifications/index.tsx
  apps/spruce/src/components/Settings/NavigationWarningModal.tsx
  apps/spruce/src/pages/commits/WaterfallMenu/GitCommitSearch.tsx
  apps/spruce/src/pages/distroSettings/DeleteDistro/index.tsx
  apps/spruce/src/pages/distroSettings/NewDistro/CopyModal.tsx
  apps/spruce/src/pages/distroSettings/NewDistro/CreateModal.tsx
  apps/spruce/src/pages/distroSettings/SaveModal.tsx
  apps/spruce/src/pages/preferences/preferencesTabs/notificationTab/ClearSubscriptions.tsx
  apps/spruce/src/pages/preferences/preferencesTabs/publicKeysTab/EditModal.tsx
  apps/spruce/src/pages/projectSettings/CopyProjectModal.tsx
  apps/spruce/src/pages/projectSettings/CreateProjectModal.tsx
  apps/spruce/src/pages/projectSettings/DefaultSectionToRepoModal.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/Fields/AttachDetachModal.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/Fields/DeactivateStepbackTaskField.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/Fields/DeleteProjectField.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/Fields/MoveRepoModal.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/Fields/RepoConfigField.test.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/Fields/RepotrackerField.tsx
  apps/spruce/src/pages/projectSettings/tabs/GithubAppSettingsTab/Fields/GithubAppActions.tsx
  apps/spruce/src/pages/projectSettings/tabs/VariablesTab/PromoteVariablesModal.tsx
  apps/spruce/src/pages/spawn/spawnHost/EditSpawnHostModal.tsx
  apps/spruce/src/pages/spawn/spawnHost/PauseSleepScheduleModal.tsx
  apps/spruce/src/pages/spawn/spawnVolume/SpawnVolumeModal.tsx
  apps/spruce/src/pages/spawn/spawnVolume/spawnVolumeTableActions/MigrateVolumeModal.tsx
  apps/spruce/src/pages/spawn/spawnVolume/spawnVolumeTableActions/MountVolumeModal.tsx
  apps/spruce/src/pages/task/taskTabs/buildBaronAndAnnotations/AddIssueModal/index.tsx
  apps/spruce/src/pages/version/NameChangeModal/index.tsx
Labels: spruce

#675 DEVPROD-15061: Clear date and revision filters when jumping to most recent commit
  apps/spruce/src/pages/waterfall/WaterfallMenu/JumpToMostRecent.tsx
Labels: spruce

#676 DEVPROD-8259: Display ingest and activated time separately in task metadata panel
  apps/spruce/src/pages/task/metadata/index.tsx
Labels: spruce

#674 DEVPROD-14986: Omit inactive builds when filtering
  apps/spruce/cypress/integration/waterfall/filters.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/waterfall.graphql
  apps/spruce/src/pages/waterfall/testData.ts
  apps/spruce/src/pages/waterfall/types.ts
  apps/spruce/src/pages/waterfall/useFilters.test.tsx
  apps/spruce/src/pages/waterfall/useFilters.ts
  apps/spruce/src/pages/waterfall/utils.test.ts
  apps/spruce/src/pages/waterfall/utils.ts
Labels: spruce

#680 DEVPROD-15339 Bump storybook-addon-apollo-client
  .github/dependabot.yml
  apps/parsley/package.json
  packages/storybook-addon/package.json
  yarn.lock
Labels: dependencies

#684 DEVPROD-15369: Don't cut off waterfall build variant pin
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
Labels: spruce

#654 DEVPROD-11928 remove legacy planner version
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/cypress/integration/distroSettings/task_section.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/distroSettings/tabs/TaskTab/getFormSchema.ts
Labels: spruce, parsley

#689 DEVPROD-15569 Fix bug causing page to display a loading screen on poll
  apps/spruce/src/pages/Version.tsx
  apps/spruce/src/pages/version/BuildVariantCard/index.tsx
  apps/spruce/src/pages/version/Metadata.tsx
Labels: spruce

#688 DEVPROD-15345: Allow toggling a distro as a single task distro
  apps/spruce/cypress/integration/distroSettings/general_section.ts
  apps/spruce/src/components/SpruceForm/Widgets/LeafyGreenWidgets.tsx
  apps/spruce/src/components/SpruceForm/Widgets/types.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/distro.graphql
  apps/spruce/src/pages/distroSettings/tabs/GeneralTab/GeneralTab.tsx
  apps/spruce/src/pages/distroSettings/tabs/GeneralTab/getFormSchema.ts
  apps/spruce/src/pages/distroSettings/tabs/GeneralTab/transformers.test.ts
  apps/spruce/src/pages/distroSettings/tabs/GeneralTab/transformers.ts
  apps/spruce/src/pages/distroSettings/tabs/GeneralTab/types.ts
  apps/spruce/src/pages/distroSettings/tabs/testData.ts
Labels: spruce

#690 DEVPROD-15344: Add a Single Task Distro Checkbox in the Create Distro Modal
  apps/spruce/src/pages/distroSettings/NewDistro/CopyModal.tsx
  apps/spruce/src/pages/distroSettings/NewDistro/CreateModal.test.tsx
  apps/spruce/src/pages/distroSettings/NewDistro/CreateModal.tsx
  apps/spruce/src/pages/distroSettings/NewDistro/copyDistroSchema.ts
  apps/spruce/src/pages/distroSettings/NewDistro/createDistroSchema.ts
Labels: spruce

#653 DEVPROD-11707: Fetch more versions on filter
  apps/spruce/cypress/integration/waterfall/filters.ts
  apps/spruce/src/gql/client/cache.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/waterfall.graphql
  apps/spruce/src/pages/waterfall/FetchMoreLoader.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/caching/caching.test.ts
  apps/spruce/src/pages/waterfall/caching/index.ts
  apps/spruce/src/pages/waterfall/index.tsx
  apps/spruce/src/pages/waterfall/useFilters.test.tsx
  apps/spruce/src/pages/waterfall/useFilters.ts
  apps/spruce/src/pages/waterfall/utils.ts
Labels: spruce

#699 DEVPROD-10179: Add task name and status filtering
  apps/spruce/cypress/integration/waterfall/filters.ts
  apps/spruce/src/gql/client/cache.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
Labels: spruce

#642 DEVPROD-15062 Support corp secure hosted Evergreen and proxy traffic over https for local development
  .evergreen/deploy.yml
  .gitignore
  apps/parsley/.env-cmdrc.json
  apps/parsley/README.md
  apps/parsley/package.json
  apps/parsley/src/App.tsx
  apps/parsley/src/components/NavBar/index.tsx
  apps/parsley/src/context/GlobalProviders.tsx
  apps/parsley/src/context/auth/auth.test.tsx
  apps/parsley/src/context/auth/index.tsx
  apps/parsley/src/gql/client/useCreateGQLClient/index.ts
  apps/parsley/src/gql/client/useCreateGQLClient/useCreateGQLClient.test.ts
  apps/parsley/src/gql/generated/types.ts
  apps/parsley/src/pages/index.tsx
  apps/parsley/src/utils/environmentVariables/index.ts
  apps/parsley/vite.config.ts
  apps/spruce/.env-cmdrc.json
  apps/spruce/README.md
  apps/spruce/cypress/support/commands.ts
  apps/spruce/package.json
  apps/spruce/src/App.tsx
  apps/spruce/src/components/Content/Layout.tsx
  apps/spruce/src/components/Header/Navbar.tsx
  apps/spruce/src/components/Header/UserDropdown.tsx
  apps/spruce/src/constants/externalResources.ts
  apps/spruce/src/context/Auth.test.tsx
  apps/spruce/src/context/Auth.tsx
  apps/spruce/src/context/Providers.tsx
  apps/spruce/src/gql/client/useCreateGQLClient/index.ts
  apps/spruce/src/gql/client/useCreateGQLClient/useCreateGQLClient.test.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/hooks/useLegacyUIURL/index.ts
  apps/spruce/src/index.tsx
  apps/spruce/src/pages/Login.tsx
  apps/spruce/src/utils/environmentVariables.ts
  apps/spruce/src/utils/request.ts
  apps/spruce/vite.config.ts
  package.json
  packages/lib/.storybook/main.ts
  packages/lib/src/components/FullPageLoad/index.tsx
  packages/lib/src/components/ProtectedRoute/ProtectedRoute.test.tsx
  packages/lib/src/components/ProtectedRoute/index.tsx
  packages/lib/src/context/AuthProvider/AuthProvider.test.tsx
  packages/lib/src/context/AuthProvider/index.tsx
  packages/lib/src/pages/LoginPage/LoginPage.stories.tsx
  packages/lib/src/pages/LoginPage/LoginPage.test.tsx
  packages/lib/src/pages/LoginPage/__snapshots__/LoginPage_Default.storyshot
  packages/lib/src/pages/LoginPage/index.tsx
  packages/vite-utils/README.md
  packages/vite-utils/eslint.config.js
  packages/vite-utils/lint-staged.config.js
  packages/vite-utils/package.json
  packages/vite-utils/src/index.ts
  packages/vite-utils/tsconfig.json
  packages/vite-utils/tsconfig.node.json
Labels: spruce

#718 DEVPROD-15346 Fix broken project events and event log refactor
  apps/spruce/src/components/Settings/EventLog/EventDiffTable/EventDiffTable.stories.tsx
  apps/spruce/src/components/Settings/EventLog/EventDiffTable/__snapshots__/EventDiffTable_Default.storyshot
  apps/spruce/src/components/Settings/EventLog/EventDiffTable/index.tsx
  apps/spruce/src/components/Settings/EventLog/EventDiffTable/utils/index.ts
  apps/spruce/src/components/Settings/EventLog/EventDiffTable/utils/keyRenderer/KeyRenderer.test.tsx
  apps/spruce/src/components/Settings/EventLog/EventDiffTable/utils/keyRenderer/index.ts
  apps/spruce/src/components/Settings/EventLog/EventDiffTable/utils/utils.test.ts
  apps/spruce/src/components/Settings/EventLog/EventLog.stories.tsx
  apps/spruce/src/components/Settings/EventLog/__snapshots__/EventLog_CustomEventRenderer.storyshot
  apps/spruce/src/components/Settings/EventLog/__snapshots__/EventLog_Default.storyshot
  apps/spruce/src/components/Settings/EventLog/eventLogDiffs.test.ts
  apps/spruce/src/components/Settings/EventLog/eventLogDiffs.ts
  apps/spruce/src/components/Settings/EventLog/index.ts
  apps/spruce/src/components/Settings/EventLog/index.tsx
  apps/spruce/src/components/Settings/EventLog/types.ts
  apps/spruce/src/components/Settings/EventLog/utils.ts
  apps/spruce/src/gql/client/cache.ts
  apps/spruce/src/pages/configurePatch/configurePatchCore/useConfigurePatch/state.ts
  apps/spruce/src/pages/distroSettings/tabs/EventLogTab/EventLogTab.tsx
  apps/spruce/src/pages/distroSettings/tabs/EventLogTab/LegacyEventEntry.tsx
  apps/spruce/src/pages/distroSettings/tabs/EventLogTab/useDistroEvents.ts
  apps/spruce/src/pages/distroSettings/tabs/ProviderTab/ProviderTab.tsx
  apps/spruce/src/pages/preferences/preferencesTabs/NotificationsTab.tsx
  apps/spruce/src/pages/preferences/preferencesTabs/notificationTab/NotificationField.tsx
  apps/spruce/src/pages/projectSettings/tabs/EventLogTab/EventLogTab.tsx
  apps/spruce/src/pages/projectSettings/tabs/ProjectTriggersTab/transformers.ts
  apps/spruce/src/pages/projectSettings/tabs/VirtualWorkstationTab/transformers.ts
  apps/spruce/src/pages/version/ManifestBlob.tsx
  apps/spruce/src/utils/object/index.ts
  apps/spruce/src/utils/object/object.test.ts
  apps/spruce/src/utils/object/omit.test.ts
  apps/spruce/src/utils/object/omit.ts
  apps/spruce/src/utils/object/types.ts
  apps/spruce/src/utils/string/index.ts
  apps/spruce/src/utils/string/string.test.ts
Labels: spruce

#704 DEVPROD-15801 Add title field to Task history cell statuses
  apps/spruce/src/components/GroupedTaskStatusBadge/index.tsx
  apps/spruce/src/components/HistoryTable/Cell/__snapshots__/Cell_TaskCellStory.storyshot
  apps/spruce/src/components/HistoryTable/Cell/index.tsx
  apps/spruce/src/components/TaskStatusIconLegend/index.tsx
  apps/spruce/src/constants/task.ts
  apps/spruce/src/pages/commits/ActiveCommits/CommitBarChart/CommitChartTooltip.tsx
  apps/spruce/src/pages/commits/utils.test.ts
  apps/spruce/src/pages/version/Tabs/TestAnalysis/FilterGroup/index.tsx
  apps/spruce/src/utils/statuses/groupStatusesByUmbrellaStatus.test.ts
  apps/spruce/src/utils/statuses/groupStatusesByUmbrellaStatus.ts
Labels: spruce

#721 DEVPROD-16157 Add reason field to log download analytics for better error tracking
  apps/parsley/src/analytics/loadingPage/useLogDownloadAnalytics.ts
  apps/parsley/src/gql/generated/types.ts
  apps/parsley/src/hooks/useLogDownloader/index.ts
Labels: parsley

#720 DEVPROD-16104: Render allowed build variants in Distro Settings Page
  apps/spruce/cypress/integration/distroSettings/single_task_distro.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/single-task-distro.graphql
  apps/spruce/src/pages/distroSettings/tabs/SingleTaskDistroTab/getFormSchema.ts
  apps/spruce/src/pages/distroSettings/tabs/SingleTaskDistroTab/transformers.test.ts
  apps/spruce/src/pages/distroSettings/tabs/SingleTaskDistroTab/transformers.ts
Labels: spruce
