Repository evergreen-ci/ui, pull requests merged in 2025-01, with the labels that each got.

#553 DEVPROD-13052 Create error boundary and handle errors on waterfall page
  apps/spruce/src/pages/waterfall/WaterfallErrorBoundary/WaterfallErrorBoundary.test.tsx
  apps/spruce/src/pages/waterfall/WaterfallErrorBoundary/index.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/WaterfallSkeleton/index.tsx
  apps/spruce/src/pages/waterfall/__snapshots__/VersionLabel_Default.storyshot
  apps/spruce/src/pages/waterfall/__snapshots__/VersionLabel_GitTag.storyshot
  apps/spruce/src/pages/waterfall/__snapshots__/VersionLabel_UpstreamProject.storyshot
  apps/spruce/src/pages/waterfall/constants.ts
  apps/spruce/src/pages/waterfall/index.tsx
  apps/spruce/src/pages/waterfall/styles.ts
Labels: spruce

#563 DEVPROD-13917 Fix bug with date selection logic in spawn host tests
  apps/spruce/cypress/integration/spawn/host.ts
Labels: spruce

#566 DEVPROD-13928 Ensure displayStatus is used for ExecutionTasksTable
  apps/spruce/src/components/TasksTable/Columns.tsx
  apps/spruce/src/components/TasksTable/types.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/task.graphql
  apps/spruce/src/pages/task/taskTabs/ExecutionTasksTable/ExecutionTasksTable.stories.tsx
  apps/spruce/src/pages/task/taskTabs/ExecutionTasksTable/__snapshots__/ExecutionTasksTable_MultipleExecutions.storyshot
  apps/spruce/src/pages/task/taskTabs/ExecutionTasksTable/__snapshots__/ExecutionTasksTable_SingleExecution.storyshot
  apps/spruce/src/pages/task/taskTabs/ExecutionTasksTable/index.tsx
Labels: spruce

#564 DEVPROD-13825: Use displayStatusCache instead of displayStatus
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/waterfall.graphql
  apps/spruce/src/pages/waterfall/BuildRow.tsx
  apps/spruce/src/pages/waterfall/useFilters.test.tsx
  apps/spruce/src/pages/waterfall/useFilters.ts
Labels: spruce

#549 DEVPROD-8939: Add sync-spruce-staging task
  .evergreen/deploy.yml
  .evergreen/evergreen.yml
  .evergreen/shared.yml
  apps/spruce/.env-cmdrc.json
  apps/spruce/src/context/Auth.tsx
  apps/spruce/src/gql/client/useCreateGQLClient/index.ts
  apps/spruce/src/gql/fetch/index.ts
  apps/spruce/src/utils/environmentVariables.ts
  packages/lib/src/utils/environment/index.ts
  packages/lib/src/utils/request/index.ts
Labels: spruce, evg-ui/lib

#576 DEVPROD-14174: Use `displayStatus` in version restart modal
  apps/spruce/src/components/TaskStatusFilters/index.tsx
  apps/spruce/src/components/VersionRestartModal/BuildVariantAccordion.tsx
  apps/spruce/src/components/VersionRestartModal/TaskStatusCheckboxContainer.tsx
  apps/spruce/src/components/VersionRestartModal/VersionRestartModal.tsx
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/build-variants-with-children.graphql
  apps/spruce/src/hooks/useVersionTaskStatusSelect/index.ts
  apps/spruce/src/hooks/useVersionTaskStatusSelect/useVersionTaskStatusSelect.test.ts
Labels: spruce

#574 DEVPROD-13969: Remove task sync project settings [minor]
  apps/spruce/cypress/integration/spawn/host.ts
  apps/spruce/src/components/Spawn/spawnHostModal/getFormSchema.tsx
  apps/spruce/src/components/Spawn/spawnHostModal/transformer.test.ts
  apps/spruce/src/components/Spawn/spawnHostModal/transformer.ts
  apps/spruce/src/components/Spawn/spawnHostModal/types.ts
  apps/spruce/src/gql/fragments/projectSettings/general.graphql
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/spawn-task.graphql
  apps/spruce/src/pages/projectSettings/CopyProjectModal.test.tsx
  apps/spruce/src/pages/projectSettings/tabs/EventLogTab/EventLogTab.test.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/getFormSchema.tsx
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/transformers.test.ts
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/transformers.ts
  apps/spruce/src/pages/projectSettings/tabs/GeneralTab/types.ts
  apps/spruce/src/pages/projectSettings/tabs/testData.ts
Labels: spruce

#577 DEVPROD-12595: Remove transition for date selector
  apps/spruce/src/pages/waterfall/DateFilter/index.tsx
Labels: spruce

#562 DEVPROD-13862 remove merge queue field
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/src/gql/generated/types.ts
Labels: spruce, parsley

#579 DEVPROD-10513 Make new project vars private by default
  apps/spruce/cypress/integration/projectSettings/not_defaulting_to_repo.ts
  apps/spruce/src/pages/projectSettings/tabs/VariablesTab/getFormSchema.ts
Labels: spruce

#584 DEVPROD-14252: Polish waterfall date picker interactions
  apps/spruce/cypress/integration/waterfall/filters.ts
  apps/spruce/cypress/support/commands.ts
  apps/spruce/cypress/support/e2e.ts
  apps/spruce/src/pages/waterfall/DateFilter/index.tsx
  apps/spruce/src/pages/waterfall/InactiveVersions/InactiveVersionsModal.tsx
  apps/spruce/src/pages/waterfall/InactiveVersions/index.tsx
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
Labels: spruce

#572 DEVPROD-13254: Only render waterfall task icons when in viewport
  apps/spruce/src/components/Header/Navbar.tsx
  apps/spruce/src/components/HistoryTable/HistoryTable.tsx
  apps/spruce/src/components/TupleSelect/index.tsx
  apps/spruce/src/components/VisibilityContainer/__snapshots__/VisibilityContainer_Default.storyshot
  apps/spruce/src/components/VisibilityContainer/index.tsx
  apps/spruce/src/components/styles/Layout.tsx
  apps/spruce/src/hooks/index.ts
  apps/spruce/src/hooks/test-utils.tsx
  apps/spruce/src/hooks/useDimensions/index.ts
  apps/spruce/src/hooks/useDimensions/useDimensions.test.ts
  apps/spruce/src/hooks/useIsScrollAtTop/index.ts
  apps/spruce/src/hooks/useIsScrollAtTop/useIsScrollAtTop.test.tsx
  apps/spruce/src/hooks/useTopmostVisibleElement/useTopmostVisibleElement.test.tsx
  apps/spruce/src/pages/commits/__snapshots__/ProjectHealth_Default.storyshot
  apps/spruce/src/pages/projectSettings/Header.tsx
  apps/spruce/src/pages/projectSettings/index.tsx
  apps/spruce/src/pages/version/BuildVariantCard/index.tsx
  apps/spruce/src/pages/waterfall/BuildRow.tsx
  apps/spruce/src/pages/waterfall/BuildVariantContext.tsx
  apps/spruce/src/pages/waterfall/DateFilter/index.tsx
  apps/spruce/src/pages/waterfall/RequesterFilter/index.tsx
  apps/spruce/src/pages/waterfall/StatusFilter/index.tsx
  apps/spruce/src/pages/waterfall/TaskStatsTooltip.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_TaskStatsTooltip.storyshot
  apps/spruce/src/pages/waterfall/WaterfallGrid.tsx
  apps/spruce/src/pages/waterfall/index.tsx
  apps/spruce/src/pages/waterfall/styles.ts
Labels: spruce

#587 DEVPROD-14813 Update links to open internal links in the same tab
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/ButtonRow/index.tsx
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/cypress/integration/task/files_tables.ts
  apps/spruce/src/components/CodeChanges/index.tsx
  apps/spruce/src/components/CodeChangesTable/index.tsx
  apps/spruce/src/components/WelcomeModal/WelcomeModal.tsx
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/jobLogs/Metadata.tsx
  apps/spruce/src/pages/task/taskTabs/FileTable/GroupedFileTable/__snapshots__/GroupedFileTable_DefaultTable.storyshot
  apps/spruce/src/pages/task/taskTabs/FileTable/GroupedFileTable/index.tsx
  apps/spruce/src/pages/task/taskTabs/Logs.tsx
  apps/spruce/src/pages/task/taskTabs/testsTable/LogsColumn.tsx
  apps/spruce/src/pages/version/Tabs/TestAnalysis/GroupedTestMapList/FailedTestGroup/FailedTestGroupTable/index.tsx
Labels: spruce, parsley

#578 DEVPROD-11891 Capture generic route names for spruce routes in otel traces
  apps/parsley/package.json
  apps/parsley/src/main.tsx
  apps/spruce/package.json
  apps/spruce/src/components/Content/index.tsx
  apps/spruce/src/constants/routes.ts
  apps/spruce/src/hooks/useLegacyUIURL/index.ts
  apps/spruce/src/index.tsx
  packages/lib/src/utils/observability/ReactRouterSpanProcessor/ReactRouterSpanProcessor.test.ts
  packages/lib/src/utils/observability/ReactRouterSpanProcessor/index.ts
  packages/lib/src/utils/observability/ReactRouterSpanProcessor/types.ts
  packages/lib/src/utils/observability/ReactRouterSpanProcessor/utils.test.ts
  packages/lib/src/utils/observability/ReactRouterSpanProcessor/utils.ts
  packages/lib/src/utils/observability/honeycomb.ts
  packages/storybook-addon/package.json
  yarn.lock
Labels: spruce, parsley

#602 DEVPROD-12590: Rename `FilterBadge` to `FilterChip`
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/cypress/integration/projectHealth/filtering.ts
  apps/spruce/cypress/integration/projectHealth/task_history.ts
  apps/spruce/cypress/integration/projectHealth/variant_history.ts
  apps/spruce/cypress/integration/waterfall/filters.ts
  apps/spruce/src/analytics/waterfall/useWaterfallAnalytics.ts
  apps/spruce/src/components/FilterBadges/FilterBadges.stories.tsx
  apps/spruce/src/components/FilterBadges/useFilterBadgeQueryParams.test.tsx
  apps/spruce/src/components/FilterChips/FilterChip.tsx
  apps/spruce/src/components/FilterChips/FilterChips.stories.tsx
  apps/spruce/src/components/FilterChips/FilterChips.test.tsx
  apps/spruce/src/components/FilterChips/SeeMoreModal.tsx
  apps/spruce/src/components/FilterChips/__snapshots__/FilterChips_Default.storyshot
  apps/spruce/src/components/FilterChips/index.tsx
  apps/spruce/src/components/FilterChips/useFilterChipQueryParams.test.tsx
  apps/spruce/src/components/FilterChips/useFilterChipQueryParams.ts
  apps/spruce/src/components/HistoryTable/HistoryTableTestSearch/HistoryTableTestSearch.stories.tsx
  apps/spruce/src/components/HistoryTable/HistoryTableTestSearch/__snapshots__/HistoryTableTestSearch_Default.storyshot
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/commits/index.tsx
  apps/spruce/src/pages/taskHistory/index.tsx
  apps/spruce/src/pages/variantHistory/index.tsx
  apps/spruce/src/pages/waterfall/index.tsx
Labels: spruce

#605 DEVPROD-14591: Remove task stats from waterfall query
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/index.ts
  apps/spruce/src/gql/queries/waterfall-task-stats.graphql
  apps/spruce/src/gql/queries/waterfall.graphql
  apps/spruce/src/pages/waterfall/TaskStatsTooltip.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/VersionLabel.stories.tsx
  apps/spruce/src/pages/waterfall/VersionLabel/__snapshots__/VersionLabel_SmallSize.storyshot
  apps/spruce/src/pages/waterfall/VersionLabel/index.tsx
  apps/spruce/src/pages/waterfall/testData.ts
Labels: spruce
