Repository evergreen-ci/ui, pull requests merged in 2025-09, with the labels that each got.

#1011 DEVPROD-20854: Introduce Chromatic checks on PRs
  .github/workflows/pr.yml
  .github/workflows/push.yml
  apps/parsley/.gitignore
  apps/parsley/package.json
  yarn.lock
Labels: parsley

#1018 DEVPROD-21581 Pass test log info to query
  apps/parsley/src/components/Chatbot/index.tsx
Labels: parsley

#958 DEVPROD-15075: Add toggle for hiding all filters
  apps/parsley/cypress/integration/ansiLogs/ansi_filtering.ts
  apps/parsley/cypress/integration/resmokeLogs/resmoke_filtering.ts
  apps/parsley/src/analytics/logWindow/useLogWindowAnalytics.ts
  apps/parsley/src/components/SidePanel/NavGroup/FilterNavGroup/AllFiltersToggle/AllFiltersToggle.tsx
  apps/parsley/src/components/SidePanel/NavGroup/FilterNavGroup/AllFiltersToggle/index.tsx
  apps/parsley/src/components/SidePanel/NavGroup/FilterNavGroup/index.tsx
  apps/parsley/src/components/SidePanel/__snapshots__/SidePanel_Default.storyshot
  apps/parsley/src/gql/generated/types.ts
  packages/lib/src/gql/generated/types.ts
Labels: parsley

#1022 DEVPROD-17165: Block admin settings page on production environment only
  apps/spruce/src/components/Content/index.tsx
Labels: spruce

#1029 DEVPROD-21399 Encode build variant when generating variant history urls
  apps/spruce/src/constants/routes.test.ts
  apps/spruce/src/constants/routes.ts
Labels: spruce

#1036 DEVPROD-11592 Show included local modules on the ui
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/version.graphql
  apps/spruce/src/pages/version/Metadata/IncludedLocalModules.tsx
  apps/spruce/src/pages/version/Metadata/index.tsx
  packages/lib/src/gql/generated/types.ts
Labels: spruce

#1037 DEVPROD-21980 Add docs for Parsley AI
  apps/parsley/docs/01-Home.md
  apps/parsley/docs/07-Parsley-AI.md
Labels: parsley

#1042 DEVPROD-21432 followup: Link users to spruce prod from parsley beta
  apps/parsley/.env-cmdrc.json
Labels: parsley

#1043 DEVPROD-22098: Fix date overwriting time in datetime widget
  apps/spruce/src/components/SpruceForm/SpruceForm.stories.tsx
  apps/spruce/src/components/SpruceForm/SpruceForm.test.tsx
  apps/spruce/src/components/SpruceForm/Widgets/DateTimePicker.tsx
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_DateTimePicker.storyshot
  apps/spruce/src/components/TimePicker/TimeInput.tsx
  apps/spruce/src/components/TimePicker/__snapshots__/TimePicker_Default.storyshot
Labels: spruce

#1048 DEVPROD-12679: Display GitHub permission groups inherited from repos
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/AccessTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/ContainersTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GeneralTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubAppSettingsTab/AppSettingsTab.tsx
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubAppSettingsTab/Fields/GithubAppActions.tsx
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubAppSettingsTab/getFormSchema.tsx
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubAppSettingsTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubAppSettingsTab/types.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubCommitQueueTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubPermissionGroupsTab/FieldTemplates.tsx
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubPermissionGroupsTab/PermissionGroupsTab.tsx
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubPermissionGroupsTab/getFormSchema.tsx
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubPermissionGroupsTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubPermissionGroupsTab/types.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/NotificationsTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/PatchAliasesTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/PeriodicBuildsTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/PluginsTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/ProjectTriggersTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/VariablesTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/ViewsAndFiltersTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/VirtualWorkstationTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/types.ts
Labels: spruce

#1052 DEVPROD-22226: Move post util to lib
  .github/dependabot.yml
  apps/parsley/src/components/Chatbot/index.tsx
  apps/spruce/src/pages/preferences/preferencesTabs/cliTab/AuthenticationCard.tsx
  apps/spruce/src/utils/index.ts
  apps/spruce/src/utils/request.test.ts
  apps/spruce/src/utils/request.ts
  packages/lib/src/utils/request/post.ts
  packages/lib/src/utils/request/request.test.ts
  packages/lib/tsconfig.json
  packages/lib/vitest.d.ts
Labels: spruce, parsley, lib

#1080 DEVPROD-22556: Update Spruce logo for fall
  apps/spruce/src/components/Header/Navbar.tsx
  packages/lib/src/components/Icon/icons/logos/FallLogo.tsx
  packages/lib/src/components/Icon/index.ts
Labels: spruce
