Repository evergreen-ci/ui, pull requests merged in 2025-07, with the labels that each got.

#888 DEVPROD-18446: Update deprecation banner for Task History page
  apps/spruce/cypress/integration/projectHealth/task_history.ts
  apps/spruce/src/pages/task/ActionButtons.tsx
  apps/spruce/src/pages/task/taskTabs/TaskHistory/TestFailureSearchInput/index.tsx
  apps/spruce/src/pages/task/taskTabs/TaskHistory/index.tsx
  apps/spruce/src/pages/task/taskTabs/testsTable/LogsColumn.tsx
  apps/spruce/src/pages/taskHistory/index.tsx
  apps/spruce/src/utils/string/index.ts
Labels: spruce

#891 DEVPROD-12441: Don't show settings page for hidden projects
  apps/spruce/src/gql/fragments/projectSettings/general.graphql
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/projectSettings/index.tsx
Labels: spruce

#900 DEVPROD-17949: Create Zebra Radio button
  apps/spruce/src/components/SpruceForm/Container.tsx
  apps/spruce/src/components/SpruceForm/FieldTemplates/ObjectFieldTemplates/index.tsx
  apps/spruce/src/components/SpruceForm/SpruceForm.stories.tsx
  apps/spruce/src/components/SpruceForm/Widgets/LeafyGreenWidgets.tsx
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_Example1.storyshot
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_Example2.storyshot
  apps/spruce/src/components/SpruceForm/__snapshots__/SpruceForm_Example3.storyshot
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/adminSettings/index.tsx
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/FeatureFlagsTab/formSchema.ts
  apps/spruce/src/pages/adminSettings/tabs/types.ts
  apps/spruce/src/pages/preferences/preferencesTabs/profileTab/Settings.tsx
Labels: spruce

#902 DEVPROD-18919 Capture test analysis tab stats
  apps/spruce/src/analytics/version/useVersionAnalytics.ts
  apps/spruce/src/pages/version/Tabs/TestAnalysis/index.tsx
Labels: spruce

#915 DEVPROD-17214 Remove deleted BackgroundCleanupDisabled feature flags
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/mutations/save-admin-settings.graphql
  apps/spruce/src/gql/queries/admin-settings.graphql
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/FeatureFlagsTab/formSchema.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/FeatureFlagsTab/transformers.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/FeatureFlagsTab/types.ts
Labels: spruce

#917 DEVPROD-19219: Rename codegen files
  apps/parsley/graphql.config.ts
  apps/parsley/package.json
  apps/spruce/graphql.config.ts
  apps/spruce/package.json
  apps/spruce/scripts/check-schema-and-codegen/index.ts
  apps/spruce/scripts/check-schema-and-codegen/utils.ts
Labels: spruce, parsley

#907 DEVPROD-13870 fix: Pretty print and color ANSI lines
  apps/parsley/cypress/integration/resmokeLogs/resmoke_logView.ts
  apps/parsley/package.json
  apps/parsley/src/components/LogRow/ResmokeRow/ResmokeRow.test.tsx
  apps/parsley/src/components/LogRow/ResmokeRow/index.tsx
Labels: parsley

#886 DEVPROD-18478 Add ability to toggle never activated tasks
  apps/spruce/src/analytics/version/useVersionAnalytics.ts
  apps/spruce/src/components/PatchActionButtons/IncludeNeverActivatedTasksToggle.tsx
  apps/spruce/src/components/PatchActionButtons/index.tsx
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/build-variant-stats.graphql
  apps/spruce/src/gql/queries/display-task.graphql
  apps/spruce/src/gql/queries/failed-task-status-icon-tooltip.graphql
  apps/spruce/src/gql/queries/index.ts
  apps/spruce/src/gql/queries/patch-task-statuses.graphql
  apps/spruce/src/gql/queries/spawn-expiration.graphql
  apps/spruce/src/gql/queries/version.graphql
  apps/spruce/src/pages/Version.tsx
  apps/spruce/src/pages/version/ActionButtons.tsx
  apps/spruce/src/pages/version/BuildVariantCard/index.tsx
  apps/spruce/src/pages/version/BuildVariantCard/testData.ts
  apps/spruce/src/pages/version/Tabs/Tasks/index.tsx
  apps/spruce/src/pages/version/Tabs/useQueryVariables/index.ts
  apps/spruce/src/pages/version/Tabs/useQueryVariables/useQueryVariables.test.tsx
  apps/spruce/src/types/task.ts
Labels: spruce

#918 DEVPROD-18958 use password input type for rdp password
  apps/spruce/src/components/Spawn/editHostModal/getFormSchema.tsx
Labels: spruce

#921 DEVPROD-13867: Display other failing commands in task metadata
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/mocks/taskData.ts
  apps/spruce/src/gql/queries/task.graphql
  apps/spruce/src/pages/task/metadata/DetailsDescription/index.tsx
  apps/spruce/src/pages/task/metadata/Metadata.stories.tsx
  apps/spruce/src/pages/task/metadata/Metadata.test.tsx
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_ContainerizedTask.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_Default.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_OOMTracker.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithAbortMessage.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithDependencies.storyshot
  apps/spruce/src/pages/task/metadata/__snapshots__/Metadata_WithTaskOwner.storyshot
  apps/spruce/src/pages/task/metadata/index.tsx
Labels: spruce

#937 DEVPROD-17219 remove spot fleet options from distro UI
  apps/spruce/cypress/integration/distroSettings/provider_section.ts
  apps/spruce/src/pages/distroSettings/tabs/ProviderTab/schemaFields.ts
  apps/spruce/src/pages/distroSettings/tabs/ProviderTab/styles.ts
  apps/spruce/src/pages/distroSettings/tabs/ProviderTab/transformerUtils.ts
  apps/spruce/src/pages/distroSettings/tabs/ProviderTab/transformers.test.ts
  apps/spruce/src/pages/distroSettings/tabs/ProviderTab/types.ts
Labels: spruce

#922 DEVPROD-19277: Enable task history tab on patches
  apps/spruce/cypress/integration/shortcuts/tabs.ts
  apps/spruce/src/pages/task/taskTabs/TaskHistory/CommitDetailsCard/CommitDetailsCard.stories.tsx
  apps/spruce/src/pages/task/taskTabs/TaskHistory/CommitDetailsCard/CommitDetailsCard.test.tsx
  apps/spruce/src/pages/task/taskTabs/TaskHistory/CommitDetailsCard/__snapshots__/CommitDetailsCard_Default.storyshot
  apps/spruce/src/pages/task/taskTabs/TaskHistory/CommitDetailsCard/__snapshots__/CommitDetailsCard_WithFailingTests.storyshot
  apps/spruce/src/pages/task/taskTabs/TaskHistory/CommitDetailsCard/__snapshots__/CommitDetailsCard_WithLongMessage.storyshot
  apps/spruce/src/pages/task/taskTabs/TaskHistory/CommitDetailsCard/index.tsx
  apps/spruce/src/pages/task/taskTabs/TaskHistory/CommitDetailsList/CommitDetailsList.stories.tsx
  apps/spruce/src/pages/task/taskTabs/TaskHistory/CommitDetailsList/__snapshots__/CommitDetailsList_Default.storyshot
  apps/spruce/src/pages/task/taskTabs/TaskHistory/CommitDetailsList/__snapshots__/CommitDetailsList_WithFilterApplied.storyshot
  apps/spruce/src/pages/task/taskTabs/TaskHistory/Controls/index.tsx
  apps/spruce/src/pages/task/taskTabs/TaskHistory/InactiveCommitsButton/InactiveCommitsButton.stories.tsx
  apps/spruce/src/pages/task/taskTabs/TaskHistory/InactiveCommitsButton/InactiveCommitsButton.test.tsx
  apps/spruce/src/pages/task/taskTabs/TaskHistory/TaskTimeline/CurrentTaskBadge.tsx
  apps/spruce/src/pages/task/taskTabs/TaskHistory/TaskTimeline/TaskTimeline.stories.tsx
  apps/spruce/src/pages/task/taskTabs/TaskHistory/TaskTimeline/__snapshots__/TaskTimeline_Default.storyshot
  apps/spruce/src/pages/task/taskTabs/TaskHistory/TaskTimeline/index.tsx
  apps/spruce/src/pages/task/taskTabs/TaskHistory/context/index.tsx
  apps/spruce/src/pages/task/taskTabs/TaskHistory/index.tsx
  apps/spruce/src/pages/task/taskTabs/index.tsx
Labels: spruce

#930 DEVPROD-15817: Only show available regions in spawn host modal
  apps/spruce/src/components/Spawn/spawnHostModal/getFormSchema.tsx
  apps/spruce/src/components/Spawn/spawnHostModal/useLoadFormSchemaData.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/distros.graphql
  apps/spruce/src/pages/distroSettings/DistroSelect/DistroSelect.test.tsx
  apps/spruce/src/pages/spawn/spawnHost/spawnHostButton/SpawnHostModal.tsx
Labels: spruce

#951 DEVPROD-1955: Copy raw log lines
  apps/parsley/cypress/integration/ansiLogs/ansi_logView.ts
  apps/parsley/cypress/integration/resmokeLogs/resmoke_evg_test_logView.ts
  apps/parsley/cypress/integration/resmokeLogs/resmoke_logView.ts
  apps/parsley/package.json
  apps/parsley/src/analytics/preferences/usePreferencesAnalytics.ts
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/ButtonRow/ButtonRow.test.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/ButtonRow/CopyTextButton.tsx
  apps/parsley/src/components/DetailsMenu/DetailsMenuCard/ButtonRow/index.tsx
  apps/parsley/src/constants/cookies.ts
  apps/parsley/src/gql/generated/types.ts
  apps/parsley/src/utils/string/index.ts
  apps/parsley/src/utils/string/string.test.ts
  apps/spruce/src/gql/generated/types.ts
  yarn.lock
Labels: parsley

#949 DEVPROD-7340 Replace project filters modal with table
  apps/parsley/.storybook/preview.tsx
  apps/parsley/config/vitest/setupTests.ts
  apps/parsley/cypress/integration/project_filters.ts
  apps/parsley/src/components/ProjectFiltersModal/ProjectFilter.tsx
  apps/parsley/src/components/ProjectFiltersModal/ProjectFiltersModal.stories.tsx
  apps/parsley/src/components/ProjectFiltersModal/ProjectFiltersModal.test.tsx
  apps/parsley/src/components/ProjectFiltersModal/index.tsx
  apps/parsley/src/components/ProjectFiltersModal/state.ts
  apps/parsley/src/components/ProjectFiltersModal/utils.ts
  apps/parsley/src/components/Search/SearchBar/__snapshots__/SearchBar_Default.storyshot
  apps/parsley/src/components/Search/SearchBar/__snapshots__/SearchBar_WithSearchSuggestions.storyshot
  apps/parsley/src/components/SidePanel/NavGroup/FilterNavGroup/FilterGroup/__snapshots__/FilterGroup_Default.storyshot
  apps/parsley/src/components/SidePanel/__snapshots__/SidePanel_Default.storyshot
  apps/parsley/src/constants/externalURLTemplates.ts
  apps/parsley/src/gql/mocks/getParsleySettings.ts
  apps/parsley/src/test_data/task.ts
  apps/parsley/src/utils/query-string/index.ts
  apps/parsley/src/utils/query-string/query-string.test.ts
  apps/spruce/src/components/Settings/EventLog/EventDiffTable/__snapshots__/EventDiffTable_Default.storyshot
  apps/spruce/src/components/Settings/EventLog/__snapshots__/EventLog_Default.storyshot
  apps/spruce/src/pages/host/HostTable/__snapshots__/HostTable_Default.storyshot
  apps/spruce/src/pages/task/taskTabs/ExecutionTasksTable/__snapshots__/ExecutionTasksTable_MultipleExecutions.storyshot
  apps/spruce/src/pages/task/taskTabs/ExecutionTasksTable/__snapshots__/ExecutionTasksTable_SingleExecution.storyshot
  apps/spruce/src/pages/task/taskTabs/FileTable/GroupedFileTable/__snapshots__/GroupedFileTable_DefaultTable.storyshot
  apps/spruce/src/pages/task/taskTabs/TaskHistory/CommitDetailsCard/__snapshots__/CommitDetailsCard_WithFailingTests.storyshot
  apps/spruce/src/pages/task/taskTabs/TaskHistory/CommitDetailsList/__snapshots__/CommitDetailsList_Default.storyshot
  apps/spruce/src/pages/task/taskTabs/TaskHistory/CommitDetailsList/__snapshots__/CommitDetailsList_WithFilterApplied.storyshot
  apps/spruce/src/pages/taskQueue/TaskQueueTable/__snapshots__/TaskQueueTable_Default.storyshot
  apps/spruce/src/pages/version/Tabs/TaskDuration/TaskDurationTable/__snapshots__/TaskDurationTable_Default.storyshot
  apps/spruce/src/pages/version/Tabs/TaskDuration/TaskDurationTable/__snapshots__/TaskDurationTable_LongContent.storyshot
  apps/spruce/src/pages/version/Tabs/Tasks/VersionTasksTable/__snapshots__/VersionTasksTable_Default.storyshot
  apps/spruce/src/pages/version/Tabs/TestAnalysis/GroupedTestMapList/FailedTestGroup/__snapshots__/FailedTestGroup_Default.storyshot
  apps/spruce/src/pages/version/Tabs/TestAnalysis/GroupedTestMapList/FailedTestGroup/__snapshots__/FailedTestGroup_LongTestName.storyshot
  apps/spruce/src/utils/array/array.test.ts
  apps/spruce/src/utils/array/index.ts
  packages/lib/src/components/Table/BaseTable.tsx
  packages/lib/src/components/Table/TablePlaceholder/index.tsx
  packages/lib/src/components/Table/__snapshots__/BaseTable_Default.storyshot
  packages/lib/src/components/Table/__snapshots__/BaseTable_LongContent.storyshot
  packages/lib/src/components/Table/__snapshots__/BaseTable_NestedRows.storyshot
  packages/lib/src/components/Table/__snapshots__/BaseTable_SelectedRows.storyshot
  packages/lib/src/components/Table/__snapshots__/BaseTable_VirtualTable.storyshot
  packages/lib/src/utils/array/array.test.ts
  packages/lib/src/utils/array/index.ts
Labels: parsley

#957 DEVPROD-19042: Create Restart Tasks page
  apps/spruce/cypress/integration/adminSettings/restart_tasks.ts
  apps/spruce/cypress/support/commands.ts
  apps/spruce/src/components/SpruceForm/Widgets/LeafyGreenWidgets.tsx
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/mutations/index.ts
  apps/spruce/src/gql/mutations/restart-admin-tasks.graphql
  apps/spruce/src/gql/queries/admin-tasks-to-restart.graphql
  apps/spruce/src/gql/queries/index.ts
  apps/spruce/src/pages/adminSettings/AdminSaveButton.tsx
  apps/spruce/src/pages/adminSettings/Tabs.tsx
  apps/spruce/src/pages/adminSettings/index.tsx
  apps/spruce/src/pages/adminSettings/tabs/RestartTasksTab/RestartTasksButton.test.tsx
  apps/spruce/src/pages/adminSettings/tabs/RestartTasksTab/RestartTasksButton.tsx
  apps/spruce/src/pages/adminSettings/tabs/RestartTasksTab/RestartTasksTab.tsx
  apps/spruce/src/pages/adminSettings/tabs/RestartTasksTab/formSchema.ts
  apps/spruce/src/pages/adminSettings/tabs/RestartTasksTab/transformers.ts
  apps/spruce/src/pages/adminSettings/tabs/RestartTasksTab/types.ts
Labels: spruce

#959 DEVPROD-17659 Add merge queue subscriber type
  apps/spruce/src/constants/triggers.ts
Labels: spruce

#952 DEVPROD-19036: Create forms for Background Processing section in Admin Settings
  apps/spruce/cypress/integration/adminSettings/background_processing.ts
  apps/spruce/src/components/SpruceForm/FieldTemplates/ArrayFieldTemplates/index.tsx
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/admin-settings.graphql
  apps/spruce/src/pages/adminSettings/AdminSaveButton.tsx
  apps/spruce/src/pages/adminSettings/Tabs.tsx
  apps/spruce/src/pages/adminSettings/index.tsx
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/BackgroundProcessingTab/BackgroundProcessingTab.tsx
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/BackgroundProcessingTab/getFormSchema.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/BackgroundProcessingTab/schemaFields.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/BackgroundProcessingTab/transformers.test.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/BackgroundProcessingTab/transformers.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/BackgroundProcessingTab/types.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/GeneralTab.tsx
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/RunnersTab/getFormSchema.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/RunnersTab/transformers.test.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/RunnersTab/transformers.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/WebTab/getFormSchema.ts
  apps/spruce/src/pages/adminSettings/tabs/sharedStyles.ts
  apps/spruce/src/pages/adminSettings/tabs/testData.ts
  apps/spruce/src/pages/adminSettings/tabs/types.ts
Labels: spruce

#956 DEVPROD-19923 Rename githubPatchAliases to githubPRPatchAliases
  apps/parsley/src/gql/generated/types.ts
  apps/spruce/src/gql/fragments/projectSettings/githubCommitQueue.graphql
  apps/spruce/src/gql/fragments/projectSettings/patchAliases.graphql
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/CopyProjectModal.test.tsx
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/EventLogTab/EventLogTab.test.tsx
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubCommitQueueTab/getFormSchema.tsx
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubCommitQueueTab/transformers.test.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubCommitQueueTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/GithubCommitQueueTab/types.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/PatchAliasesTab/transformers.test.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/PatchAliasesTab/transformers.ts
  apps/spruce/src/pages/projectAndRepoSettings/shared/tabs/testData.ts
Labels: spruce, do not merge

#970 DEVPROD-19031: add authentication forms to admin settings
  apps/spruce/cypress/integration/adminSettings/authentication.ts
  apps/spruce/src/gql/generated/types.ts
  apps/spruce/src/gql/queries/admin-settings.graphql
  apps/spruce/src/pages/adminSettings/index.tsx
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/AuthenticationTab/AuthenticationTab.tsx
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/AuthenticationTab/getFormSchema.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/AuthenticationTab/schemaFields.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/AuthenticationTab/transformers.test.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/AuthenticationTab/transformers.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/AuthenticationTab/types.ts
  apps/spruce/src/pages/adminSettings/tabs/GeneralTab/GeneralTab.tsx
Labels: spruce
